---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Introduction from "../components/sections/Introduction.astro";
import Product from "../components/sections/Product.astro";
import Company from "../components/sections/Company.astro";
import Footer from "../components/Footer.astro";
import RoomContainer from "../interactive/RoomContainer";
---

<Layout title="PartyKit - Turn everything into a realtime multiplayer app">
  <RoomContainer client:load />
  <Header />
  <main>
    <Introduction />
    <Product />
    <Company />
  </main>
  <Footer />
</Layout>
