---
import "../../styles/variables.scss";
import Counter from "../../interactive/Counter.tsx";
---

<div id="compatibility">
  <div id="compatibility-frameworks">
    <h3>For any project</h3>
    <p>
      Develop in vanilla JS or use our React bindings. Integrate with popular
      collaboration frameworks: Y.js, Automerge, Replicache, XState, tldraw,
      TinyBase, they all Just Work™.
    </p>
  </div>

  <div id="compatibility-platforms">
    <h3>Standards and interop</h3>
    <p>
      WebSockets, Fetch, Request-Response, Wasm. PartyKit uses web standards to
      guarantee interoperability with your projects on Vercel, Netlify, AWS,
      Cloudflare, fly.io, or wherever you host your app.
    </p>
  </div>

  <div id="demo">
    <h3>Try it now</h3>
    <p>Open another browser tab. The counter is synced.</p>
    <Counter client:load initialCount={0} />
  </div>
</div>

<style lang="scss">
  @import "../../styles/shared.scss";

  #compatibility {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: calc(var(--whitespace) * 0.5);
    padding-top: calc(var(--whitespace) * 0.5);
  }

  @media (min-width: 760px) {
    #compatibility {
      padding-top: 0;
      grid-column: 7 / 11;
      grid-row: 4 / 5;
      gap: 4rem;
    }
  }

  #compatibility-frameworks,
  #compatibility-platforms,
  #compatibility-standards {
    @include atom();
  }

  #demo {
    @include atom();
  }
</style>
