---
import { Code } from "astro:components";
import "../../styles/variables.scss";
---

<div id="product-features">
  <div class="feature">
    <div class="mini-terminal">
      <Code
        code={`npm partykit create
# Or:
# npm install partykit
# npx partykit init`}
        lang="typescript"
        theme="dark-plus"
      />
    </div>
    <h3>Just add realtime</h3>
    <p>
      Add realtime to Next.js, Remix, Svelte and other app frameworks, or go
      full stack with PartyKit itself. <a href="#get-started"
        >Get started &darr;</a
      >
    </p>
  </div>

  <div class="feature">
    <div class="mini-terminal">
      <Code
        code={`npx partykit add --list
# - ai
# - yjs
# - multiplayer...`}
        lang="typescript"
        theme="dark-plus"
      />
    </div>
    <h3>Just add anything</h3>
    <p>
      Get multiplayer rooms and state immediately. Develop your own services.
      Add bundles for collaborative text editing, AI, and more.
    </p>
  </div>

  <div class="feature">
    <div class="mini-terminal">
      <Code
        code={`npx partykit deploy
npx partykit dashboard


`}
        lang="typescript"
        theme="dark-plus"
      />
    </div>
    <h3>Dev to prod, fast</h3>
    <p>
      Deploy to our fully managed global edge network and run with low latency
      and high performance. We scale with you. Cloud-prem also available.
    </p>
  </div>
</div>

<style lang="scss">
  @import "../../styles/shared.scss";

  #product-features {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: calc(var(--whitespace) * 0.5);
  }

  @media (min-width: 760px) {
    #product-features {
      flex-direction: row;
      grid-row: 2 / 3;
      gap: 4rem;
    }
  }

  @media (min-width: 1100px) {
    #product-features {
      grid-column: 2 / 10;
    }
  }

  .feature {
    @include atom();
  }

  @media (min-width: 760px) {
    .feature {
      margin: 0;
    }
  }

  .mini-terminal {
    font-family: monospace;
    line-height: 1.5;
    font-size: 80%;
    border-radius: calc(var(--box-radius) / 2);
    background: #1e1e1e; /* to match Code theme background */
    color: white;
    font-variation-settings: "wght" 300;
    padding: 20px;
    margin-bottom: 1.5rem;
  }

  a {
    color: var(--color-feature-2);
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
  }
</style>
