---
import "../../styles/variables.scss";
import Button from "../atoms/Button.astro";
---

<>
  <h2 id="pricing-header">Pricing</h2>

  <div id="pricing">
    <div class="pricing-plan">
      <h3>Individual</h3>

      <p class="pricing-price">Obviously, Free</p>

      <ul class="pricing-features">
        <li>Deploy to our global edge platform</li>
        <li>Great for small projects</li>        
        <li class="warning">Storage gets cleared every 24 hours</li>
      </ul>

      <ul class="pricing-limitations">
        <li>Up to 10 live projects</li>
      </ul>

      <Button variant="pricingCTA" url="https://docs.partykit.io/quickstart/">
        Get started
      </Button>
    </div>

    <hr />

    <div class="pricing-plan">
      <h3>Commercial</h3>

      <p class="pricing-price">
        Surprise, also Free*
      </p>

      <ul class="pricing-features">
        <li><a href="https://docs.partykit.io/guides/deploy-to-cloudflare/" style="text-decoration: underline;" target="_blank">* If you deploy to your own Cloudflare account</a></li>                
        <li>Custom domains</li>
        <li>Unlimited projects</li>

      </ul>

      <ul class="pricing-limitations">
        <li>Pay only your Cloudflare usage</li>
      </ul>

      

      <Button variant="pricingCTA" url="https://docs.partykit.io/quickstart/">
        Get started
      </Button>
    </div>

    <hr />

    
  </div>
</>

<style lang="scss">
  @import "../../styles/shared.scss";

  #pricing-header {
    grid-column: 1 / -1;
    @include atom();
  }

  @media (min-width: 760px) {
    #pricing-header {
      max-width: 100%;
    }
  }

  @media (min-width: 1100px) {
    #pricing-header {
      grid-column: 2 / 10;
    }
  }

  #pricing {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 4rem;
  }

  @media (min-width: 760px) {
    #pricing {
      grid-column: 1 / 11;
      display: flex;
      flex-direction: row;
      align-content: stretch;
      justify-content: space-between;
      gap: 1rem;
      height: 24em;
    }
  }

  @media (min-width: 1100px) {
    #pricing {
      grid-column: 3 / 10;
    }
  }

  .pricing-plan {
    @include atom();
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  @media (min-width: 760px) {
    .pricing-plan {
      margin: 0;
    }
  }

  h3 {
    margin-bottom: 0;
  }

  hr {
    @include atom();
    height: 0.5px;
    border: none;
    background: var(--color-feature-3);
  }

  @media (min-width: 760px) {
    hr {
      width: 0.5px;
      height: 100%;
    }
  }

  .pricing-price {
    @include font-L();
    color: var(--color-feature-2);
    margin-bottom: 2rem;
  }

  .pricing-price small {
    @include font-core();
    color: var(--color-text);
    white-space: nowrap;
  }

  .pricing-features {
    margin: 0.5rem 0 2rem 0;
  }

  .pricing-limitations {
    margin-top: auto;
  }

  li {
    position: relative;
    padding-left: 2rem;
  }

  li + li {
    margin-top: 0.5rem;
  }

  li:before {
    content: "";
    display: inline-block;
    margin-left: -2rem;
    width: 2rem;
    color: var(--color-feature-2);
  }

  .pricing-limitations li:before {
    content: "";
  }

  .pricing-limitations li.support:before {
    content: "";
  }
</style>
