---
const { title, subtitle, text, image = 'https://dc28c2r6oodom.cloudfront.net/avatars/11.jpg', variant = 1 } = Astro.props;
---

{variant === 1 && 
  <div class='br-100'>
    <img src={image} class='br-100 aspect-ratio-1x1 db w-100'/>
  </div>
}

{variant === 2 && 
  <div class='br-100 shadow-6'>
    <img src={image} class='br-100 aspect-ratio-1x1 db w-100'/>
  </div>
}

{variant === 3 && 
  <div class='br-100 shadow-border-1 p1 bg-gray-11'>
    <img src={image} class='br-100 aspect-ratio-1x1 db w-100'/>
  </div>
}

{variant === 4 && 
  <div class='br-100 shadow-6 p1 bg-gray-11 shadow-hover trans-all'>
    <img src={image} class='br-100 aspect-ratio-1x1'/>
  </div>
}
