---
---
<section class='grid cols-3-m g5 px4 px6-m py5'>
    <article class='bl bw3 b--current indigo-5 pl3'>
        <p class='f4 lh-copy m0 gray-0'>
            <b>Infinitely customizable.</b> You bring the code, we do the hosting. Use any package from npm, or write your own servers from scratch. 
        </p>
    </article>
    <article class='bl bw3 b--current violet-5 pl3'>
        <p class='f4 lh-copy m0 gray-0'>
            <b>Batteries included.</b> Analytics, staging environments, secrets management, logging. All the tools your team needs to build production apps.
        </p>
    </article>
    <article class='bl bw3 b--current magenta-7 pl3'>
    <p class='f4 lh-copy m0 gray-0'>
        <b>Speed and scale.</b> A worldwide edge network with low latency, anywhere on Earth. We enable your ambition, from your first user to millions.
    </p>
</article>
<article class='dn'>
    <p class='f3 lh-copy m0'>
        <b>Only pay for what you use.</b> A generous free tier, and pay-as-you-go pricing. No more paying for unused resources.
    </p>
</article>
    </section>

