---
const { href, title, body } = Astro.props;
---

<a href={href} title={title} 
   class='link flex items-center color p1 br11 h2 w2'>
    <slot />
</a>

<style>
   a:hover {
     color: var(--primary);
     background-color: var(--indigo-11);
   } 
</style>
    
