---
const { title, subtitle, kicker, image, text, variant = 1 } = Astro.props;
---

{variant === 1 && 
  <article class='py7 bb'>
      <h4 class='f3 mw9 mt0 mb2 indigo-5'>{kicker}</h3>
      <h3 class='tc f8 fw9 mt0 mb0'>{title}</h3>
      <p class='measure lh-copy tc center'>
        {text}
      </p>
      <div class='mt4'>

      </div>
  </article>
}

