@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PKSans";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/InterVariable.woff2") format("woff2");
  }

  :root {
    --color-page: #ffffff;
    --color-text: #252525;
    --color-feature-1: #f3f3f3;
    --color-feature-2: #ff0f0f;
    --color-feature-3: #bdc1c0;
    --padding: 0 2rem;
    --box-padding: 0.725rem 1rem 0.775rem;
    --character-width: 0.333em;
    --whitespace: 25vh;
    --atom-width: 20rem;
    --box-radius: 12px;
    --demo-offset-X: 0px;
    --demo-offset-Y: 0px;
    --window-shadow: 0 30px 40px rgba(0, 0, 0, 0.5);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-variation-settings: inherit;
    line-height: inherit;
    list-style: none;
    text-decoration: none;
    vertical-align: baseline;
  }

  html {
    color: var(--color-text);
    background: var(--color-page);
    background: linear-gradient(
      var(--color-feature-2) 50%,
      var(--color-page) 51%
    );
  }

  body {
    background: var(--color-page);
  }

  .font-hero {
    font-variation-settings: "wght" 220;
    font-feature-settings:
      "calt" 01,
      "dlig" 00,
      "case" 01,
      "ss01" 01,
      "ss02" 01,
      "ss07" 01,
      "ss08" 01,
      "cv10" 01,
      "cv13" 00;
    font-size: 12vw;
    line-height: 1.05;
    letter-spacing: -0.01em;
    text-align: center;
  }
  @media (min-width: 760px) {
    .font-hero {
      font-size: 6vw;
      line-height: 1;
      letter-spacing: -0.02em;
    }
  }

  .font-hero-bold {
    font-variation-settings: "wght" 640;
    font-feature-settings:
      "calt" 01,
      "dlig" 00,
      "case" 01,
      "ss01" 01,
      "ss02" 01,
      "ss07" 01,
      "ss08" 01,
      "cv10" 01,
      "cv13" 00;
    font-size: 12vw;
    line-height: 1.05;
    letter-spacing: -0.035em;
    text-align: center;
  }
  @media (min-width: 760px) {
    .font-hero-bold {
      font-variation-settings: "wght" 640;
      letter-spacing: -0.035em;
    }
  }

  .font-core {
    font-family:
      PKSans,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      "Noto Sans",
      Helvetica,
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji";
    font-variation-settings: "wght" 380;
    font-feature-settings:
      "calt" 01,
      "dlig" 01,
      "case" 01,
      "ss01" 01,
      "ss02" 01,
      "ss07" 01,
      "ss08" 01,
      "cv10" 01,
      "cv13" 00;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0;
  }
  @media (min-width: 760px) {
    .font-core {
      font-size: 16px;
      font-variation-settings: "wght" 310;
    }
  }

  .font-core-bold,
  article strong,
  article h3 {
    font-family:
      PKSans,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      "Noto Sans",
      Helvetica,
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji";
    font-variation-settings: "wght" 650;
    font-feature-settings:
      "calt" 01,
      "dlig" 01,
      "case" 01,
      "ss01" 01,
      "ss02" 01,
      "ss07" 01,
      "ss08" 01,
      "cv10" 01,
      "cv13" 00;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0;
  }
  @media (min-width: 760px) {
    .font-core-bold,
    article strong,
    article h3 {
      font-size: 16px;
      font-variation-settings: "wght" 620;
    }
  }

  .font-XL {
    font-variation-settings: "wght" 220;
    font-feature-settings:
      "calt" 01,
      "dlig" 00,
      "case" 01,
      "ss01" 01,
      "ss02" 01,
      "ss07" 01,
      "ss08" 01,
      "cv10" 01,
      "cv13" 00;
    font-size: 9vw;
    line-height: 1.05;
    letter-spacing: 0;
  }
  @media (min-width: 760px) {
    .font-XL {
      font-variation-settings: "wght" 210;
      font-size: 70px;
      letter-spacing: 0;
    }
  }

  .font-XL-bold {
    font-variation-settings: "wght" 640;
    font-feature-settings:
      "calt" 01,
      "dlig" 00,
      "case" 01,
      "ss01" 01,
      "ss02" 01,
      "ss07" 01,
      "ss08" 01,
      "cv10" 01,
      "cv13" 00;
    font-size: 9vw;
    line-height: 1.05;
    letter-spacing: -0.025em;
  }
  @media (min-width: 760px) {
    .font-XL-bold {
      font-variation-settings: "wght" 640;
      font-size: 70px;
      letter-spacing: -0.025em;
    }
  }

  .font-L,
  article h2 {
    font-variation-settings: "wght" 240;
    font-feature-settings:
      "calt" 01,
      "dlig" 00,
      "case" 01,
      "ss01" 01,
      "ss02" 01,
      "ss07" 01,
      "ss08" 01,
      "cv10" 01,
      "cv13" 00;
    font-size: 7.25vw;
    line-height: 1.2;
    letter-spacing: 0;
  }
  @media (min-width: 760px) {
    .font-L,
    article h2 {
      font-variation-settings: "wght" 230;
      font-size: 32px;
      letter-spacing: 0.025em;
    }
  }

  .font-L-bold {
    font-variation-settings: "wght" 600;
    font-feature-settings:
      "calt" 01,
      "dlig" 00,
      "case" 01,
      "ss01" 01,
      "ss02" 01,
      "ss07" 01,
      "ss08" 01,
      "cv10" 01,
      "cv13" 00;
    font-size: 7.25vw;
    line-height: 1.2;
    letter-spacing: -0.0125em;
  }
  @media (min-width: 760px) {
    .font-L-bold {
      font-variation-settings: "wght" 600;
      font-size: 32px;
      letter-spacing: -0.0125em;
    }
  }

  .font-S {
    font-variation-settings: "wght" 350;
    font-feature-settings:
      "calt" 01,
      "dlig" 01,
      "case" 01,
      "ss01" 01,
      "ss02" 01,
      "ss07" 01,
      "ss08" 01,
      "cv10" 01,
      "cv13" 00;
    font-size: 11px;
    line-height: 1.5;
    letter-spacing: 0.01em;
  }
  @media (min-width: 760px) {
    .font-S {
      font-size: 12px;
      font-variation-settings: "wght" 350;
    }
  }

  .font-S-bold {
    font-variation-settings: "wght" 650;
    font-feature-settings:
      "calt" 01,
      "dlig" 01,
      "case" 01,
      "ss01" 01,
      "ss02" 01,
      "ss07" 01,
      "ss08" 01,
      "cv10" 01,
      "cv13" 00;
    font-size: 11px;
    line-height: 1.5;
    letter-spacing: 0.01em;
  }
  @media (min-width: 760px) {
    .font-S-bold {
      font-size: 12px;
      font-variation-settings: "wght" 620;
    }
  }

  a {
    text-decoration-thickness: 1px;
    text-underline-offset: 0.1em;
    transition: color 1.5s ease;
    outline: none;
  }
  a:hover,
  a:focus {
    transition: color 0.3s ease;
  }
  a * {
    text-decoration-thickness: inherit;
    text-underline-offset: inherit;
    transition: inherit;
  }

  em {
    font-style: italic;
  }

  code {
    overflow-wrap: break-word;
  }

  .icon {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    overflow: hidden;
  }
  .icon:hover,
  .icon:focus {
    color: var(--color-feature-2);
  }
  .icon * {
    transition: none;
  }
  .icon span {
    position: absolute;
    top: -100%;
    left: -1000%;
  }

  .card {
    width: calc(100% - 6rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 4rem 0;
    margin: 0 3rem;
  }

  @media (min-width: 760px) {
    .card {
      grid-template-columns: repeat(10, 1fr);
      width: 100%;
      margin: 0;
    }
  }

  @media (min-width: 760px) and (max-width: 1100px) {
    .card {
      grid-template-columns: repeat(3, 1fr);
      margin: 0 2rem;
      width: calc(100% - 4rem);
    }
  }

  .card + .card {
    border-top: 0.5px solid var(--color-feature-3);
  }

  .card > a:first-child {
    grid-column: 1 / -1;
    align-self: flex-start;
    margin-bottom: 1rem;
  }

  @media (min-width: 760px) {
    .card > a:first-child {
      max-width: 100%;
      grid-column: 2/4;
      grid-row: 1/2;
    }
  }

  @media (min-width: 1100px) {
    .card > a:first-child {
      grid-column: 4/9;
    }
  }

  .card > div:nth-child(2) {
    grid-column: span 2;
    color: var(--color-feature-2);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 760px) and (max-width: 1100px) {
    .card > div:nth-child(2) {
      grid-column: 1 / 2;
    }
  }

  .card > p:nth-child(3) {
    grid-column: 1/-1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 760px) {
    .card > p:nth-child(3) {
      max-width: 100%;
      grid-column: 2/4;
    }
  }

  @media (min-width: 1100px) {
    .card > p:nth-child(3) {
      grid-column: 4/8;
    }
  }

  article h2 {
    margin-top: calc(var(--whitespace) * 0.5);
  }

  article h3 {
    margin-top: 4rem;
  }

  @media (max-width: 759px) {
    article h4,
    article h5,
    article h6,
    article p,
    article ul,
    article ol {
      font-size: 16px;
    }
    article table h4,
    article table h5,
    article table h6,
    article table p,
    article table ul,
    article table ol {
      font-size: inherit;
    }
  }

  article img,
  article video {
    display: block;
    width: calc(100% + 3rem);
    max-width: calc(100% + 3rem);
    height: auto;
    margin: 2rem -1.5rem;
  }

  @media (min-width: 760px) {
    article img,
    article video {
      margin: 2rem 0;
      width: 100%;
      max-width: 100%;
    }
  }

  article .flex img,
  article .flex video {
    margin: 0;
  }

  article strong {
    font-weight: inherit;
  }

  article a {
    text-decoration: underline;
  }

  article a:hover,
  article a:focus {
    color: var(--color-feature-2);
  }

  article li {
    position: relative;
    list-style: none;
    padding-left: 1.5rem;
  }

  article li:before {
    content: "●";
    font-size: 0.5rem;
    display: inline-block;
    width: 1.5rem;
    margin-left: -1.5rem;
  }

  article li li:before {
    content: "○";
  }

  article li li li:before {
    content: "→";
  }

  article blockquote {
    padding-left: calc(1.5rem - 0.5px);
    border-left: 0.5px solid var(--color-feature-3);
  }

  article pre {
    padding: 1rem 1.5rem;
    margin: 2rem -1.5rem;
    font-size: 80%;
    line-height: 1.5;
  }

  @media (min-width: 760px) {
    article pre {
      margin: 2rem 0;
      font-size: 90%;
    }
  }

  article hr {
    display: block;
    width: 100%;
    height: 0.5px;
    border: none;
    background: var(--color-feature-3);
    margin: 4rem 0;
  }
}
