---
import "../styles/variables.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-variation-settings: inherit;
    line-height: inherit;
    list-style: none;
    text-decoration: none;
    vertical-align: baseline;
  }

  @font-face {
    font-family: "PKSans";
    font-style: normal;
    font-weight: 300;
    src: url("/assets/Inter.ttf") format("truetype");
  }

  html {
    font-family:
      PKSans,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      "Noto Sans",
      Helvetica,
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji";
    font-variation-settings: "wght" 320;
    font-feature-settings:
      "ss01" 1,
      "ss02" 1,
      "ss03" 01;
    color: var(--color-text);
    background: var(--color-page);
    font-size: 14px;
    line-height: 1.4;
  }

  @media (min-width: 760px) {
    html {
      font-size: 16px;
    }
  }

  main h1,
  h2,
  h3,
  #hero #browser p,
  #pricing .pricing-price {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-variation-settings: "wght" 220;
    font-size: 7.25vw;
    line-height: 1.1;
    letter-spacing: -0.03em;
  }

  @media (min-width: 760px) {
    main h1 {
      text-align: center;
      line-height: 1;
      letter-spacing: -0.04em;
    }
    h2,
    .post h3 {
      font-size: 63px;
      letter-spacing: -0.04em;
    }
    h3,
    #hero #browser p,
    #pricing .pricing-price {
      font-size: 32px;
      letter-spacing: -0.015em;
    }
  }

  h2,
  h3 {
    margin: var(--whitespace) 0 1rem;
  }

  @media (min-width: 760px) {
    h2 {
      margin-bottom: var(--whitespace);
    }
    h3 {
      margin-top: 0;
    }
  }

  .icon {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    overflow: hidden;
  }

  .icon span {
    position: absolute;
    top: -100%;
    left: -1000%;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    overflow: hidden;
  }

  section {
    padding: var(--padding);
  }
</style>
