---
import "../styles/variables.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html style="position: relative;">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body style="position: relative;">
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  @import "../styles/shared.scss";

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-variation-settings: inherit;
    line-height: inherit;
    list-style: none;
    text-decoration: none;
    vertical-align: baseline;
  }

  html {
    color: var(--color-text);
    background: var(--color-page);
    @include font-core();
  }
  
  @media (max-width: 759px) {
    body.nav-open {
      overflow: hidden;
    }
  }

  h2 {
    @include font-XL();
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    margin: var(--whitespace) 0 calc(var(--whitespace) *0.5);
  }
  
  @media (min-width: 760px) {
    h2 {
      margin-bottom: var(--whitespace);
    }
  }

  h3 {
    @include font-L();
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 0 1rem;
  }
  
  @media (min-width: 760px) {
    h3 {
      margin-top: 0;
    }
  }
  
  a {
    text-decoration-thickness: 1px;
    text-underline-offset: 0.1em;
    transition: color 1.5s ease;
    outline: none;
    &:hover,
    &:focus {
      transition: color 0.3s ease;
    }
    * {
      text-decoration-thickness: inherit;
      text-underline-offset: inherit;
      transition: inherit;
    }
  }
  
  .icon {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    overflow: hidden;
    &:hover,
    &:focus {
      color: var(--color-feature-2);
    }
  }

  .icon span {
    position: absolute;
    top: -100%;
    left: -1000%;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    overflow: hidden;
  }

  section {
    padding: var(--padding);
  }
</style>
