---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Introduction from "../components/sections/Introduction.astro";
import Product from "../components/sections/Product.astro";
import Company from "../components/sections/Company.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="ðŸŽˆâœŒðŸ» PartyKit Homepage Sketch v.2.7">
  <main>
    <Header />
    <Introduction />
    <Product />
    <Company />
    <Footer />
  </main>
</Layout>
