/*

    Styles for markup
    Useful for markdown and text based pages

*/

.markup {
  max-width: 80ch;
  margin-right: auto;
  margin-left: auto;
}

.markup h1,
.markup h2,
.markup h3,
.markup h4, 
.markup h5,
.markup h6 {
  line-height: var(--line-height-heading, 1.5);
  max-width: 80ch;
}

.markup h1 {
  margin-top: 4em;
}

.markup p {
  max-width: 80ch;
  line-height: var(--line-height-body, 1.5);
}

.markup img {
  display: block;
  max-width: 100%;
}

.markup table {
  font-size: 12px;
  max-width: 100%;
  border-collapse: collapse; 
  border-spacing: 0;
  overflow: auto;
}

.markup td {
  box-sizing: border-box;
  padding: var(--spacing-2, 8px); 
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
  line-height: 1.5;
  vertical-align: top;
}

.markup th {
  text-align: left;
  line-height: 1.5;
  vertical-align: top;
  padding: var(--spacing-2, 8px);
  color: var(--bg, white);
  background: var(--color, black);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color, black);
}

.markup table ul,
.markup table ul li {
  margin: 0; 
}
.markup table ul {
  padding-left: 16px;
}

.markup a:link {

}

.markup a:hover {

}

.markup a:visited {

}

.markup a:active {

}

.markup blockquote {

}

.markup hr {

}

.markup dl {

}

.markup dt {

}

.markup dd {

}

.markup figcaption {

}

.markup ul, 
.markup ol {
  max-width: 80ch;
  line-height: var(--line-height-body, 1.5);
}

.markup li {

}

.markup pre {

}

.markup code {

}
