@charset "UTF-8";

@font-face {
  font-family: "PKSans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/InterVariable.woff2") format("woff2");
}

@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-variation-settings: inherit;
  line-height: inherit;
  list-style: none;
  text-decoration: none;
  vertical-align: baseline;
}

@mixin font-hero {
  font-variation-settings: "wght" 220;
  font-feature-settings:
    "calt" 01,
    "dlig" 00,
    "case" 01,
    "ss01" 01,
    "ss02" 01,
    "ss07" 01,
    "ss08" 01,
    "cv10" 01,
    "cv13" 00;
  font-size: 12vw;
  line-height: 1.05;
  letter-spacing: -0.01em;
  text-align: center;
  @media (min-width: 760px) {
    font-size: 6vw;
    line-height: 1;
    letter-spacing: -0.02em;
  }
}

@mixin font-hero-bold {
  @include font-hero();
  font-weight: inherit;
  font-variation-settings: "wght" 640;
  letter-spacing: -0.035em;
  @media (min-width: 760px) {
    font-variation-settings: "wght" 640;
    letter-spacing: -0.035em;
  }
}

@mixin font-core {
  font-family:
    PKSans,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Noto Sans",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  font-variation-settings: "wght" 380;
  font-feature-settings:
    "calt" 01,
    "dlig" 01,
    "case" 01,
    "ss01" 01,
    "ss02" 01,
    "ss07" 01,
    "ss08" 01,
    "cv10" 01,
    "cv13" 00;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0;
  @media (min-width: 760px) {
    font-size: 16px;
    font-variation-settings: "wght" 310;
  }
}

@mixin font-core-bold {
  @include font-core();
  font-weight: inherit;
  font-variation-settings: "wght" 650;
  @media (min-width: 760px) {
    font-variation-settings: "wght" 620;
  }
}

@mixin font-XL {
  font-variation-settings: "wght" 220;
  font-feature-settings:
    "calt" 01,
    "dlig" 00,
    "case" 01,
    "ss01" 01,
    "ss02" 01,
    "ss07" 01,
    "ss08" 01,
    "cv10" 01,
    "cv13" 00;
  font-size: 9vw;
  line-height: 1.05;
  letter-spacing: 0;
  @media (min-width: 760px) {
    font-variation-settings: "wght" 210;
    font-size: 70px;
    letter-spacing: 0;
  }
}

@mixin font-XL-bold {
  @include font-XL();
  font-weight: inherit;
  font-variation-settings: "wght" 640;
  letter-spacing: -0.025em;
  @media (min-width: 760px) {
    font-variation-settings: "wght" 640;
    letter-spacing: -0.025em;
  }
}

@mixin font-L {
  font-variation-settings: "wght" 240;
  font-feature-settings:
    "calt" 01,
    "dlig" 00,
    "case" 01,
    "ss01" 01,
    "ss02" 01,
    "ss07" 01,
    "ss08" 01,
    "cv10" 01,
    "cv13" 00;
  font-size: 7.25vw;
  line-height: 1.2;
  @media (min-width: 760px) {
    font-variation-settings: "wght" 230;
    font-size: 32px;
    letter-spacing: 0.025em;
  }
}

@mixin font-L-bold {
  @include font-L();
  font-weight: inherit;
  font-variation-settings: "wght" 600;
  letter-spacing: -0.0125em;
  @media (min-width: 760px) {
    font-variation-settings: "wght" 600;
    letter-spacing: -0.0125em;
  }
}

@mixin font-S {
  font-variation-settings: "wght" 350;
  font-feature-settings:
    "calt" 01,
    "dlig" 01,
    "case" 01,
    "ss01" 01,
    "ss02" 01,
    "ss07" 01,
    "ss08" 01,
    "cv10" 01,
    "cv13" 00;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  @media (min-width: 760px) {
    font-size: 12px;
    font-variation-settings: "wght" 350;
  }
}

@mixin font-S-bold {
  @include font-S();
  font-weight: inherit;
  font-variation-settings: "wght" 650;
  @media (min-width: 760px) {
    font-variation-settings: "wght" 620;
  }
}

@mixin atom {
  width: 100%;
  max-width: var(--atom-width);
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 500px) and (max-width: 760px) {
    max-width: 30rem;
  }
}
