$color-page: #ffffff;
$color-text: #252525;
$color-feature-1: #f3f3f3;
$color-feature-2: #ff0f0f;
$color-feature-3: #bdc1c0;

:root {
  --color-page: #{$color-page};
  --color-text: #{$color-text};
  --color-feature-1: #{$color-feature-1};
  --color-feature-2: #{$color-feature-2};
  --color-feature-3: #{$color-feature-3};
  --padding: 0 2rem;
  --box-padding: 0.725rem 1rem 0.775rem;
  --character-width: 0.333em;
  --whitespace: 25vh;
  --atom-width: 20rem;
  --box-radius: 12px;
  --demo-offset-X: 0px;
  --demo-offset-Y: 0px;
  --window-shadow: 0 30px 40px rgba(0, 0, 0, 0.5);
}
