---
import "../styles/variables.scss";
import Button from "./atoms/Button.astro";
import Grid from "./Grid.astro";
---

<footer>
  <Grid variant="nested">
    <h2>
      Turn anything into&nbsp;a <br /><strong
        >real-time collaborative web&nbsp;app</strong
      >
    </h2>

    <div class="copy">
      <p>
        The future of the internet is collaborative, and PartyKit is here to
        help every developer be part of it.
      </p>

      <p>
        &ldquo;The Web doesn't just connect machines, it connects people&rdquo; <br
        /><a
          href="https://webfoundation.org/about/community/knight-2008-tbl-speech/"
          >Tim Berners-Lee</a
        >
      </p>
    </div>

    <div class="img"></div>

    <nav class="get-started">
      <Button variant="inverted" url="https://docs.partykit.io/quickstart">
        Developer docs
      </Button>
      <Button variant="inverted" url="https://discord.gg/g5uqHQJc3z">
        Join our Discord
      </Button>
    </nav>

    <div id="smallprint">
      <nav class="icons">
        <a class="icon" href="https://twitter.com/partykit_io">
          <svg
            fill="currentColor"
            height="24"
            width="24"
            aria-hidden="true"
            viewBox="0 0 24 24"
          >
            <path
              d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
            ></path>
          </svg>
          <span>Twitter</span>
        </a>
        <a class="icon" href="https://github.com/partykit/partykit/">
          <svg
            fill="currentColor"
            height="24"
            width="24"
            aria-hidden="true"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
              clip-rule="evenodd"></path>
          </svg>
          <span>GitHub</span>
        </a>
        <a class="icon" href="https://discord.gg/GJwKKTcQ7W">
          <svg
            fill="currentColor"
            height="24"
            width="24"
            aria-hidden="true"
            viewBox="0 0 135 90"
          >
            <path
              d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z"
            ></path>
          </svg>
          <span>Discord</span>
        </a>
      </nav>

      <p class="legal">
        &copy; 2023 PartyKit. All rights reserved. <a href="/privacy"
          >Privacy&nbsp;policy</a
        >.
      </p>
    </div>
  </Grid>
</footer>

<style lang="scss">
  @import "../styles/shared.scss";

  footer {
    z-index: 3;
    padding: var(--padding);
    gap: 1rem;
    padding-top: calc(var(--whitespace) * 0.5);
    padding-bottom: 2rem;
    background: var(--color-feature-2);
    color: var(--color-page);
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    grid-column: 1 / -1;
    @include atom();
    @include font-L();
    strong {
      @include font-L-bold();
    }
    @media (min-width: 760px) {
      max-width: 100%;
      @include font-XL();
      strong {
        @include font-XL-bold();
      }
    }
  }

  .copy {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include atom();
    text-align: center;
    margin: calc(var(--whitespace) * 0.5) auto;
    p {
      max-width: 28em;
      margin: 0 auto;
    }
    a {
      text-decoration: underline;
      &:hover,
      &:focus {
        color: var(--color-text);
      }
    }
  }

  @media (min-width: 760px) {
    .copy {
      @include font-L();
      grid-column: 1 / -1;
      max-width: 40em;
    }
  }

  @media (min-width: 1100px) {
    .copy {
      grid-column: 1 / -1;
      padding-bottom: 2rem;
    }
  }

  .get-started {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
    @include atom();
    max-width: 100%;
  }

  @media (min-width: 760px) {
    .get-started {
      margin: 4rem 0;
      max-width: 100%;
      grid-column: 1 / -1;
      grid-row: 3 / 4;
      justify-content: center;
    }
  }

  @media (min-width: 1100px) {
    .get-started {
      grid-column: 2 / 6;
      grid-row: 3 / 4;
      margin: 0;
    }
  }

  #smallprint {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
    a {
      text-decoration: underline;
      &:hover,
      &:focus {
        color: var(--color-text);
      }
    }
  }

  @media (min-width: 760px) {
    #smallprint {
      grid-row: 4 / 5;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  @media (min-width: 1100px) {
    #smallprint {
      grid-column: 6 / 10;
      grid-row: 3 / 4;
      justify-content: space-evenly;
      gap: 1rem;
    }
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: 1rem;
  }

  .legal {
    align-self: center;
    text-align: center;
  }
</style>
