---
import IconLink from './IconLink.astro';
import IconTwitter from './IconTwitter.astro';
import IconGitHub from './IconGitHub.astro';
import IconDiscord from './IconDiscord.astro';
const { title, subtitle, text, variant = 2 } = Astro.props;
---

{variant === 1 && 
  <footer class='px4 flex justify-between items-center g4 py4 bt b--color'>
    <p class='f2'>© 2023 PartyKit. All rights reserved.</p>
    <div class='flex g3'>
    <IconLink href="https://twitter.com/partykit_io">
      <IconTwitter />
    </IconLink>
    <IconLink href="https://github.com/partykit/partykit">
      <IconGitHub />
    </IconLink>
    <IconLink href="https://discord.gg/g5uqHQJc3z">
      <IconDiscord />
    </IconLink>

    </div>
  </footer>
}
{variant === 2 && 
  <footer class='px4 g4 py5'>
    <div class='flex g5 justify-center mb4'>
      <IconLink  href='https://twitter.com/partykit_io'>
        <IconTwitter />
      </IconLink>
      <IconLink title='Join our growing Discord community' href="https://discord.gg/g5uqHQJc3z">
        <IconDiscord />
      </IconLink>
      <IconLink title=''  href='https://github.com/partykit/partykit'>
        <IconGitHub />
      </IconLink>
    </div>
    <p class='tc my0 gray-4 f2'>© 2023 PartyKit. All rights reserved.</p>
  </footer>
}
