---
interface Props {
  variant?: null | "nested";
}

const { variant = null } = Astro.props;
---

<div class={variant}><slot /></div>

<style>
  div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: var(--padding);
  }

  div.nested {
    padding: 0;
  }

  @media (min-width: 760px) {
    div {
      grid-template-columns: repeat(10, 1fr);
    }
  }

  @media (min-width: 760px) and (max-width: 1100px) {
    div.nested {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
