---
import LogoCloudflare from './LogoCloudflare.astro';
import LogoVercel from './LogoVercel.astro';
import LogoNextJS from './LogoNextJS.astro';
import LogoAWS from './LogoAWS.astro';
import LogoNetlify from './LogoNetlify.astro';
import LogoYjs from './LogoYjs.astro';
import LogoReplicache from './Replicache.astro';
import LogoAndroid from './LogoAndroid.astro';
import LogoAngular from './LogoAngular.astro';
import LogoVite from './LogoVite.astro';
import LogoVue from './LogoVue.astro';
import LogoReact from './LogoReact.astro';
import LogoPreact from './LogoPreact.astro';
import LogoAstro from './LogoAstro.astro';
import LogoIOS from './LogoIOS.astro';
import LogoHTML5 from './LogoHTML5.astro';
import LogoJS from './LogoJS.astro';
import LogoTS from './LogoTS.astro';
import LogoWasm from './LogoWasm.astro';
import LogoAutomerge from './LogoAutomerge.astro';
import LogoXState from './LogoXState.astro';
import LogoTldraw from './LogoTldraw.astro';
import LogoTinyBase from './LogoTinyBase.astro';
---

<h3 class='f6 f8-s fw9 tc mt6 px4 mb3' id='tools'>
    Works with your existing tools
</h3>

<div class="flex justify-center">
<section class='grid cols-3 cols-5-s cols-9-m g4 mw7 items-center justify-center m0 px4'>
    <div style='width: 3rem;'><LogoReact /></div>
    <div style='width: 3rem;'><LogoAngular /></div>
    <div style='width: 2rem;'><LogoPreact /></div>
    <div style='width: 2.5rem;'><LogoVite /></div>
    <div style='width: 4rem;'><LogoNextJS /></div>
    <div style='width: 2rem;'><LogoVue /></div>
    <div style='width: 5rem;'><LogoAstro /></div>
    <div style='width: 2rem;'><LogoAndroid /></div>
    <div style='width: 2rem;'><LogoIOS /></div>
</section>
</div>

<section class='grid cols-1 cols-2-m cols-3-l g4 g5-m px4 px5-m px6-l bb pt4 pb6 items-stretch b--color'>
<article>
<h3>Effortless Integrations</h3>
<p class='lh-copy f3 measure mb0'>
    Works well with with popular collaboration frameworks and libraries. 
    <b>Y.js</b>, <b>Automerge</b>, <b>Replicache</b>, <b>XState</b>, <b>tldraw</b>, <b>TinyBase</b>, they all Just Work™.
</p> 
<div class='flex g4 items-center mt3' style='justify-content:space-evenly'>
    <div class='h2 w2'><LogoYjs /></div>
    <div style="width:6rem"><LogoAutomerge /></div>
    <div style="width:6rem"><LogoReplicache /></div>
</div>
<div class='flex g4 items-center mt3' style='justify-content:space-evenly'>
    <div class='w4'><LogoXState /></div>
    <div style="width:5rem"><LogoTldraw /></div>
    <div style="width:6rem"><LogoTinyBase /></div>
</div>
</article>
<article>
    <h3>Platform-agnostic</h3>
        <div>
            <div>
                <p class='f3 measure lh-copy'>

                    PartyKit integrates with your current setup. Plays nicely with <b>Vercel</b>, <b>Netlify</b>, <b>AWS</b>, <b>Cloudflare</b>, <b>fly.io</b>, or wherever you host your app. No big rewrite needed.
                </p>
            </div>
            <section class='flex g4 items-center' style='justify-content:space-evenly'>
                <div style='width: 2.5rem;'><LogoAWS /></div>    
                <div style='width: 3rem;'><LogoCloudflare /></div>
                <div style='width: 4rem;'><LogoVercel /></div>
                <div style='width: 4rem;'><LogoNetlify /></div>
            </section>
    </div>
</article>
<article>
    <h3>Standards-based</h3>
        <div>
            <div>
                <p class='f3 measure lh-copy'>
                    <b>WebSockets</b>, <b>Fetch</b>, <b>Request-Response</b>, <b>Wasm</b>. PartyKit uses web standards to guarantee interoperability with all your tools, now and in the future.
                </p>
            </div>
            <section class='flex g4 items-center' style='justify-content:space-evenly'>
                <div style='width: 2.5rem;'><LogoHTML5 /></div>    
                <div style='width: 2.5rem;'><LogoJS /></div>
                <div style='width: 2.5rem;'><LogoTS /></div>       
                <div style='width: 4rem;'><LogoWasm /></div>
            </section>
    </div>
</article>

</section>
   
