---
import LogoReact from './LogoReact.astro';
import LogoAngular from './LogoAngular.astro';
import LogoPreact from './LogoPreact.astro';
import LogoVite from './LogoVite.astro';
import LogoNextJS from './LogoNextJS.astro';
import LogoVue from './LogoVue.astro';
import LogoAndroid from './LogoAndroid.astro';
import LogoAstro from './LogoAstro.astro';
import LogoIOS from './LogoIOS.astro';
---
<h3 class='f6 f8-s fw9 tc mt6 px4 mb3'> Works with 30+ frameworks </h3>
<section class='flex g4 items-center justify-center m0 px4 pb4'>
    <div style='width: 3rem;'><LogoReact /></div>
    <div style='width: 3rem;'><LogoAngular /></div>
    <div style='width: 2rem;'><LogoPreact /></div>
    <div style='width: 2.5rem;'><LogoVite /></div>
    <div style='width: 4rem;'><LogoNextJS /></div>
    <div style='width: 2rem;'><LogoVue /></div>
    <div style='width: 5rem;'><LogoAstro /></div>
    <div style='width: 2rem;'><LogoAndroid /></div>
    <div style='width: 2rem;'><LogoIOS /></div>
</section>