---
const { title, name, text, image, variant = 3} = Astro.props;
---

{variant === 1 &&
      <h3 class='f6 f8-s fw9 tc m0'><span>Everything's</span> better with friends</h3>
      <section class='px3 grid cols-3-m g4 mw9 mt6 center'>
        <article>
          <div style='aspect-ratio: 16/9; width: 100%; background: url(https://partykit.io/drawing.gif);background-size: cover;border-radius: 6px;'></div>
          <h2 class='mb0'>Art</h2>
          <p class='mt2'>Build perfectly natural drawing apps</p>
        </article>
        <article>
          <div style='aspect-ratio: 16/9; width: 100%; background: url(https://partykit.io/code.gif);background-size: cover;border-radius: 6px;'></div>
          <h2 class='mb0'>Text and Code</h2>
          <p class='mt2'>Write and code together in real time</p>
        </article>
        <article>
          <div style='aspect-ratio: 16/9; width: 100%; background: url(https://partykit.io/games.gif);background-size: cover;border-radius: 6px;'></div>
          <h2 class='mb0'>Games</h2>
          <p class='mt2'>Play games with your friends</p>
        </article>
      </section>
}

