---
const { title, subtitle, kicker, text, variant = 1 } = Astro.props;
---

<section class='py6 bt b--color'>
        <h3 class='f6 f8-s fw9 tc mt0 lh-solid mb5'>Our Team</h3>
        <div class='grid cols-4 px5 g3'>
          <article class='br7 shadow-3'>
            <div class='relative gradient-1 br7 overflow-hidden'>
              <img src='https://mrmrs.github.io/photos/v/071.jpg' class='db w-100 grayscale-100' style='mix-blend-mode: multiply;' />
              <div class='gradient-1 absolute bottom-0 left-0 right-0 px3 w-100 o-0'>
                <h4 class='f6 fw9 mt3 mb0'>Sunil Pai</h4>
                <h5 class='mt2 o-80'>Chief Cat Officer</h5>
              </div>
            </div>
          </article>
          <article class='br7 shadow-3'>
            <div class='relative gradient-1 br7 overflow-hidden' style='--gradient-degree: 135deg; --gradient-color-2: var(--magenta-7);'>
              <img src='https://mrmrs.github.io/photos/v/071.jpg' class='db w-100 grayscale-100' style='mix-blend-mode: multiply;' />
              <div class='gradient-1 absolute bottom-0 left-0 right-0 px3 w-100 o-0'>
                <h4 class='f6 fw9 mt3 mb0'>Sunil Pai</h4>
                <h5 class='mt2 o-80'>Chief Cat Officer</h5>
              </div>
            </div>
          </article>
          <article class='br7 shadow-3'>
            <div class='relative gradient-1 br7 overflow-hidden' style='--gradient-color-2: var(--cyan-7);'>
              <img src='https://mrmrs.github.io/photos/v/071.jpg' class='db w-100 grayscale-100' style='mix-blend-mode: multiply;' />
              <div class='gradient-1 absolute bottom-0 left-0 right-0 px3 w-100 o-0'>
                <h4 class='f6 fw9 mt3 mb0'>Sunil Pai</h4>
                <h5 class='mt2 o-80'>Chief Cat Officer</h5>
              </div>
            </div>
          </article>
          <article class='br7 shadow-3'>
            <div class='relative gradient-1 br7 overflow-hidden' style='--gradient-color-1: var(--cyan-8);--gradient-color-2: var(--violet-6);'>
              <img src='https://mrmrs.github.io/photos/v/071.jpg' class='db w-100 grayscale-100' style='mix-blend-mode: multiply;' />
              <div class='gradient-1 absolute bottom-0 left-0 right-0 px3 w-100 o-0'>
                <h4 class='f6 fw9 mt3 mb0'>Sunil Pai</h4>
                <h5 class='mt2 o-80'>Chief Cat Officer</h5>
              </div>
            </div>
          </article>
        </div>
      </section>
