---
// Remove current url path and remove trailing slash if exists
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, "");

// Get url array from path
// eg: /tags/tailwindcss => ['tags', 'tailwindcss']
const breadcrumbList = currentUrlPath.split("/").slice(1);

// if breadcrumb is Home > Posts > 1 <etc>
// replace Posts with Posts (page number)
breadcrumbList[0] === "posts" &&
  breadcrumbList.splice(0, 2, `Posts (page ${breadcrumbList[1] || 1})`);
---

<nav class="breadcrumb" aria-label="breadcrumb">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    {
      breadcrumbList.map((breadcrumb, index) =>
        index + 1 === breadcrumbList.length ? (
          <li>
            <span
              class={`${index > 0 ? "lowercase" : "capitalize"}`}
              aria-current="page"
            >
              {/* make the last part lowercase in Home > Tags > some-tag */}
              {breadcrumb}
            </span>
          </li>
        ) : (
          <li>
            <a href={`/${breadcrumb}`}>{breadcrumb}</a>
          </li>
        )
      )
    }
  </ul>
</nav>

<style>
  .breadcrumb {
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100px;
    border-bottom: 1px solid var(--color-feature-1);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  @media (min-width: 760px) {
    .breadcrumb {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  @media (min-width: 1100px) {
    .breadcrumb {
      width: calc(80% - 3rem);
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .breadcrumb ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .breadcrumb li {
    display: flex;
    flex-direction: row;
  }
  
  .breadcrumb li + li::before {
    content: "/";
    position: relative;
    left: 0;
    padding: 0 var(--character-width);
    font-variation-settings: "wght" 150;
  }
  
  .breadcrumb a {
    text-decoration: underline;
  }
</style>
