---
export interface Props {
  name: string;
  size?: "sm" | "lg";
}

const { name } = Astro.props;
---

<li>
  <a href={`/tags/${name.toLowerCase()}`}>
    <span>{name.toLowerCase()}</span>
  </a>
</li>

<style>
  a {
    display: flex;
    flex-direction: row;
    gap: 0 calc(var(--character-width) * 0.5);
  }

  a:hover,
  a:focus {
    color: var(--color-feature-2);
  }

  a span {
    text-decoration: underline;
  }

  a:before {
    content: "🎈";
    position: relative;
    top: 0.1em;
  }
</style>
