@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/custom.css */

/* base styles we can override */
/* https://github.com/withastro/starlight/blob/main/packages/starlight/style/props.css */
:root {
  font-size: 19px;

  /* Dark mode colors. */
  --sl-color-accent-low: #131e4f;
  --sl-color-accent: #3447ff;
  --sl-color-accent-high: #b3c7ff;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #c7d6ff;
  --sl-color-accent: #364bff;
  --sl-color-accent-high: #182775;
  --sl-color-white: #000000;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}

:root,
:root[data-theme="light"] {
  --sl-nav-height: 3.8rem;
  --sl-color-bg-nav: var(--sl-color-bg);
  --sl-color-bg-sidebar: var(--sl-color-bg);
  --sl-color-text: var(--sl-color-white);

  /* --sl-color-text-accent: var(--sl-color-accent-high); */
  /* --sl-color-text-invert: var(--sl-color-accent-low); */
  /* --sl-color-hairline-light: var(--sl-color-bg); */
  /* --sl-color-hairline-shade: var(--sl-color-bg); */
}

.site-title {
  color: var(--sl-color-white);
}
