---
import "../../../styles/variables.css";
---

<>
  <h2 id="product-header">Why PartyKit?</h2>

  <div id="product-features">
    <div id="product-flexibility">
      <h3>More flexible</h3>
      <p>
        You bring the code, we do the hosting. Use any package from npm, or
        write your own servers from scratch.
      </p>
    </div>

    <div id="product-functionality">
      <h3>More functional</h3>
      <p>
        Analytics, staging environments, secrets management, logging. All the
        tools your team needs to build production apps.
      </p>
    </div>

    <div id="product-speed">
      <h3>More fast</h3>
      <p>
        A worldwide edge network with low latency, anywhere on Earth. We enable
        your ambition, from your first user to millions.
      </p>
    </div>
  </div>
</>

<style>
  #product-header {
    grid-column: 1 / 3;
  }

  @media (min-width: 760px) {
    #product-header {
      grid-column: 2 / 10;
    }
  }

  #product-features {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 4rem;
  }

  @media (min-width: 760px) {
    #product-features {
      flex-direction: row;
      grid-column: 2 / 10;
      grid-row: 2 / 3;
    }
  }

  #product-flexibility,
  #product-functionality,
  #product-speed {
    width: 100%;
    max-width: var(--atom-width);
    margin: 0 auto;
  }

  @media (min-width: 760px) {
    #product-flexibility,
    #product-functionality,
    #product-speed {
      margin: 0;
    }
  }

</style>