---
import Grid from "../Grid.astro";

interface Props {
  title: string;
  url: string;
  date: string;
}

const { title, url, date } = Astro.props;
---

<Grid variant="nested">
  <h3>
    <a href={url}>{title}</a>
  </h3>
  <p>{date}</p>
  <div class="extract"><slot /></div>
</Grid>

<hr />

<style lang="scss">
  @import "../../styles/shared.scss";

  h3 {
    grid-column: span 2;
    @include atom();
    a {
      &:hover {
        text-decoration: underline;
      }
      &:focus {
        text-decoration: underline;
        color: var(--color-feature-2);
      }
    }
  }

  @media (min-width: 760px) {
    h3 {
      max-width: 100%;
      grid-column: 2 / 4;
      grid-row: 1 / 2;
    }
  }

  @media (min-width: 1100px) {
    h3 {
      grid-column: 4 / 9;
    }
  }

  p:nth-child(2) {
    grid-column: span 2;
    color: var(--color-feature-2);
    @include atom();
  }

  @media (min-width: 760px) {
    p:nth-child(2) {
      max-width: 100%;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      padding-top: 0.5rem;
    }
  }

  @media (min-width: 1100px) {
    p:nth-child(2) {
      grid-column: 2 / 4;
    }
  }

  .extract {
    grid-column: 1 / -1;
    @include atom();
  }

  @media (min-width: 760px) {
    .extract {
      max-width: 100%;
      grid-column: 2 / 4;
    }
  }

  @media (min-width: 1100px) {
    .extract {
      grid-column: 4 / 8;
    }
  }

  hr {
    @include atom();
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: 0.5px;
    background: var(--color-feature-3);
    border: none;
    @media (min-width: 760px) {
      max-width: 100%;
    }
    @media (min-width: 1100px) {
      max-width: 80%;
    }
  }

  hr:last-child {
    display: none;
  }
</style>
