---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Grid from "../components/Grid.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <Header />
  <main>
    <Grid>
      <slot />
    </Grid>
  </main>
  <Footer />
</Layout>

<style is:global lang="scss">
  @import "../styles/variables.scss";
  @import "../styles/shared.scss";

  main h1,
  main h2 {
    grid-column: 1 / -1;
  }

  main h3,
  main h4,
  main h5,
  main h6,
  main p,
  main ul,
  main ol {
    grid-column: 1 / -1;
    @include atom();
    @media (min-width: 760px) {
      max-width: 40rem;
      margin: 0;
      grid-column: 4 / 10;
    }
  }

  main h1 {
    @include font-hero();
    margin: calc(var(--whitespace) + 50px) 0 var(--whitespace);
  }

  main h3 {
    margin-top: calc(var(--whitespace) * 0.5);
  }

  main h4 {
    @include font-core-bold();
    margin-top: 4rem;
  }

  main h5,
  main h6 {
    margin-top: 4rem;
  }

  @media (max-width: 759px) {
    main h4,
    main h5,
    main h6,
    main p,
    main ul,
    main ol {
      font-size: 16px;
    }
    main table h4,
    main table h5,
    main table h6,
    main table p,
    main table ul,
    main table ol {
      font-size: inherit;
    }
  }

  main strong,
  main b {
    @include font-core-bold();
    font-weight: inherit;
    font-size: inherit;
  }

  main a {
    text-decoration: underline;
    &:hover,
    &:focus {
      color: var(--color-feature-2);
    }
  }

  main ul {
    li {
      position: relative;
      list-style: none;
      padding-left: 1.5rem;
      &:before {
        content: "●";
        display: inline-block;
        width: 1.5rem;
        margin-left: -1.5rem;
      }
      li:before {
        content: "○";
      }
      li li:before {
        content: "→";
      }
    }
  }

  main .overflow-x-auto {
    width: 100%;
    grid-column: 1 / -1;
    margin: 4rem 0;
    @media (min-width: 1100px) {
      grid-column: 2 / 10;
    }
  }

  main table {
    width: 100%;
    @include font-S();
    @media (min-width: 1100px) {
      @include font-core();
    }
    &.equal-columns {
      table-layout: fixed;
    }
    th,
    strong,
    b {
      @include font-S-bold();
      @media (min-width: 1100px) {
        @include font-core-bold();
      }
    }
    th {
      text-align: left;
      padding: var(--box-padding);
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    td {
      border-top: 0.5px solid var(--color-feature-3);
      padding: var(--box-padding);
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    p {
      max-width: 100%;
      & + p {
        margin-top: 1rem;
      }
    }
  }

  td.reset * {
    @include reset();
    white-space: normal;
  }

  main table div {
    white-space: nowrap;
    overflow: hidden;
    &#brand-element-font {
      font-size: 3.5vw;
    }
    &#brand-element-font-hero {
      @include font-hero();
      text-align: left;
      line-height: 1.2 !important;
    }
    &#brand-element-font-hero-bold {
      @include font-hero-bold();
      text-align: left;
      line-height: 1.2 !important;
    }
    &#brand-element-font-xl {
      @include font-XL();
      line-height: 1.2 !important;
    }
    &#brand-element-font-xl-bold {
      @include font-XL-bold();
      line-height: 1.2 !important;
    }
    &#brand-element-font-l {
      @include font-L();
      line-height: 1.2 !important;
    }
    &#brand-element-font-l-bold {
      @include font-L-bold();
      line-height: 1.2 !important;
    }
    &#brand-element-font-core {
      @include font-core();
    }
    &#brand-element-font-core-bold {
      @include font-core-bold();
    }
    &#brand-element-font-small {
      @include font-S();
    }
    &#brand-element-font-small-bold {
      @include font-S-bold();
    }
    &[id^="brand-element-color"] {
      min-height: 20vw;
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding: var(--box-padding);
    }
    &#brand-element-color-page {
      background: var(--color-page);
      border: 0.5px solid var(--color-feature-3);
    }
    &#brand-element-color-page:before {
      content: "#{$color-page}";
    }
    &#brand-element-color-text {
      background: var(--color-text);
    }
    &#brand-element-color-text:before {
      content: "#{$color-text}";
      color: var(--color-page);
    }
    &#brand-element-color-feature-1 {
      background: var(--color-feature-1);
    }
    &#brand-element-color-feature-1:before {
      content: "#{$color-feature-1}";
    }
    &#brand-element-color-feature-2 {
      background: var(--color-feature-2);
    }
    &#brand-element-color-feature-2:before {
      content: "#{$color-feature-2}";
      color: var(--color-page);
    }
    &#brand-element-color-feature-3 {
      background: var(--color-feature-3);
    }
    &#brand-element-color-feature-3:before {
      content: "#{$color-feature-3}";
      color: var(--color-page);
    }
  }
</style>
