---
import "../../styles/variables.scss";
import Voronoi from "../../interactive/Voronoi";
---

<div id="hero">
  <h1>
    PartyKit is an open source deployment platform for AI agents, multiplayer and local-first apps, games and websites.
  </h1>
  <div id="voronoi">
    <Voronoi client:load />
  </div>
  <p><strong>Because everything’s <br />better with 
    <span class="animation-frame">
      <span class="animation-block">
        <span class="animation-item">friends </span>
        <span class="animation-item" aria-hidden="true">collaboration </span>
        <span class="animation-item" aria-hidden="true">realtime </span>
        <span class="animation-item" aria-hidden="true">AI chatbots </span>
        <span class="animation-item" aria-hidden="true">websockets </span>
        <span class="animation-item" aria-hidden="true">multiplayer </span>
        <span class="animation-item" aria-hidden="true">AI agents </span>
        <span class="animation-item" aria-hidden="true">edge computing </span>
        <span class="animation-item" aria-hidden="true">CRDTs </span>
        <span class="animation-item" aria-hidden="true">local-first apps </span>
        <span class="animation-item" aria-hidden="true">LLMs </span>
        <span class="animation-item" aria-hidden="true">friends </span>
      </span>
    </span>
  </strong></p>
</div>

<style lang="scss">
  @import "../../styles/shared.scss";
  

  #hero {
    grid-column: 1 / -1;
    margin: 0 -2rem -15vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    height: 100vh;
    padding-top: 0;
    --animation-whitespace: 1.05em;
  }

  h1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    position: relative;
    z-index: 50;
    @include font-L();
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    align-self: center;
    margin: 0 auto;
    max-width: 20em;
    strong {
      @include font-L-bold();
    }
  }
  
  #voronoi {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    mask-image: linear-gradient(to bottom, #000 50%, transparent 95%);
  }
  
 p {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    position: relative;
    z-index: 50;
    @include font-L();
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    align-self: end;
    padding-bottom: calc(15vh + 3rem);
    strong {
      @include font-L-bold();
    }
    @media (min-width: 750px) {
      @include font-XL();
      strong {
        @include font-XL-bold();
      }
    }
  }
  
  @keyframes hero-loop {
    0% {
      transform: translateY(0);
    }
    7% {
      transform: translateY(0);
    }
    9% {
      transform: translateY(calc(var(--animation-whitespace) * -2));
    }
    16% {
      transform: translateY(calc(var(--animation-whitespace) * -2));
    }
    18% {
      transform: translateY(calc(var(--animation-whitespace) * -4));
    }
    25% {
      transform: translateY(calc(var(--animation-whitespace) * -4));
    }
    27% {
      transform: translateY(calc(var(--animation-whitespace) * -6));
    }
    34% {
      transform: translateY(calc(var(--animation-whitespace) * -6));
    }
    36% {
      transform: translateY(calc(var(--animation-whitespace) * -8));
    }
    43% {
      transform: translateY(calc(var(--animation-whitespace) * -8));
    }
    45% {
      transform: translateY(calc(var(--animation-whitespace) * -10));
    }
    52% {
      transform: translateY(calc(var(--animation-whitespace) * -10));
    }
    54% {
      transform: translateY(calc(var(--animation-whitespace) * -12));
    }
    61% {
      transform: translateY(calc(var(--animation-whitespace) * -12));
    }
    63% {
      transform: translateY(calc(var(--animation-whitespace) * -14));
    }
    70% {
      transform: translateY(calc(var(--animation-whitespace) * -14));
    }
    72% {
      transform: translateY(calc(var(--animation-whitespace) * -16));
    }
    79% {
      transform: translateY(calc(var(--animation-whitespace) * -16));
    }
    81% {
      transform: translateY(calc(var(--animation-whitespace) * -18));
    }
    88% {
      transform: translateY(calc(var(--animation-whitespace) * -18));
    }
    90% {
      transform: translateY(calc(var(--animation-whitespace) * -20));
    }
    98% {
      transform: translateY(calc(var(--animation-whitespace) * -20));
    }
    100% {
      transform: translateY(calc(var(--animation-whitespace) * -22));
    }
  }
  
  .animation-frame {
    position: relative;
    overflow: visible;
    &:before {
      content: "friends";
      color: transparent;
      user-select: none;
    }
    .animation-block {
      position: absolute;
      left: 0;
      margin: -20px 0;
      padding: 20px 0;
      height: calc(var(--animation-whitespace) + 20px + 20px);
      overflow: hidden;
      mask-image: linear-gradient(to bottom, transparent 0, #000 20px, #000 calc(100% - 20px), transparent 100%);
      .animation-item {
        margin: 0 0 var(--animation-whitespace) 0;
        transform: translateY(0);
        animation: hero-loop 20s ease-out 1s infinite;
   -moz-animation: hero-loop 20s ease-out 1s infinite;
-webkit-animation: hero-loop 20s ease-out 1s infinite;
     -o-animation: hero-loop 20s ease-out 1s infinite;
        display: block;
        width: 100%;
        text-align: left;
        white-space: nowrap;
      }
    }
  }


</style>
