---
import "../../styles/variables.css";
---

<div id="hero">
  <h1>
    Turn everything into a <br /><strong>realtime multiplayer app</strong>
  </h1>
  <h1>Because everything's <br />better with friends</h1>
  <div id="browser">
    <div id="browser-toolbar">PartyKit_Homepage_Demo.html</div>
    <div id="partydemo"></div>
    <p>Because everything's better with friends</p>
  </div>
</div>

<style>
  #hero {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    padding: calc(var(--whitespace) + 50px) 0 var(--whitespace);
    gap: var(--whitespace);
  }
  
  h1 {
    text-align: center;
  }
  
  h1 strong {
    font-variation-settings: "wght" 700;
    letter-spacing: -0.02em;
    font-weight: inherit;
  }

  @media (min-width: 760px) {
    #hero {
      grid-column: 1 / 11;
      height: 87.5vh;
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;
      padding: calc(var(--whitespace) * 0.5) 0;
    }
    h1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h1 + h1 {
      display: none;
    }
  }

  #hero #browser {
    display: none;
  }

  @media (min-width: 760px) {
    #hero #browser {
      position: relative;
      box-sizing: border-box;
      z-index: 10;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin: auto;
      width: 700px;
      height: 600px;
      border-radius: var(--box-radius);
      background: rgba(245, 245, 245, 0.5);
      -webkit-backdrop-filter: contrast(50%) brightness(125%) blur(7px);
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: start;
      overflow: hidden;
      z-index: 10;
      transform: translateX(var(--demo-offset-X))
        translateY(var(--demo-offset-Y));
    }

    #hero #browser:before {
      content: " ";
      position: absolute;
      top: 0.5px;
      left: 0.5px;
      right: 0.5px;
      bottom: 0.5px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-top-color: rgba(255, 255, 255, 0.4);
      border-radius: calc(var(--box-radius) - 1px);
    }

    #hero #browser #browser-toolbar {
      position: relative;
      z-index: 20;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 52px;
      background: rgba(30, 30, 30, 0.7);
      border-bottom: 1px solid rgba(50, 50, 50, 0.3);
      font-size: 80%;
      color: white;
      -webkit-user-select: none;
    }

    #hero #browser #partydemo {
      background-image: url(/assets/PK_Logo_Balloon_3D.png);
      background-size: 130% auto;
      background-repeat: no-repeat;
      background-position: center;
      flex-grow: 2;
    }

    #hero #browser p {
      position: absolute;
      left: 2rem;
      right: 2rem;
      bottom: 2rem;
      text-align: center;
    }
  }
</style>
