---
import "../../styles/variables.css";
import Button from "../atoms/Button.astro";
---

<>
  <h2 id="pricing-header">Pricing</h2>

  <div id="pricing">
  
    <div class="pricing-plan">

      <h3>Individual</h3>
    
      <p class="pricing-price">&dollar;0</p>
    
      <ul class="pricing-features">
        <li>&lsquo;npx partykit deploy&rsquo; to partykit.dev</li>
        <li>Dashboard and insights</li>
        <li>Live logs</li>
        <li>Community support</li>
      </ul>
      
      <ul class="pricing-limitations">
        <li>Max 10 deployed projects</li>
        <li>Generous bundled usage</li>
      </ul>
      
      <Button variant="pricingCTA" url="https://docs.partykit.io/quickstart/">Get started</Button>
      
    </div>

    <hr />
  
    <div class="pricing-plan">

      <h3>Pro</h3>
    
      <p class="pricing-price">&dollar;10/developer/mo</p>
    
      <ul class="pricing-features">
        <li>Team subdomain</li>
        <li>GitHub app</li>
        <li>Staging and environments</li>
        <li>Logs and error reporting</li>
        <li>Usage analytics</li>
        <li>Email support</li>
      </ul>
      
      <ul class="pricing-limitations">
        <li>No project cap per team</li>
        <li>Higher bundled usage</li>
      </ul>
      
      <Button variant="pricingCTA" url="#">Sign up</Button>
    
    </div>

    <hr />
  
    <div class="pricing-plan">

      <h3>Enterprise</h3>
    
      <p class="pricing-price">Custom</p>
    
      <ul class="pricing-features">
        <li>Custom domain</li>
        <li>Deploy to your own Cloudflare account with no usage cap</li>
      </ul>
      
      <ul class="pricing-limitations">
        <li>Minimum 10 developers</li>
      </ul>
      
      <Button variant="pricingCTA" url="#">Contact us</Button>
      
    </div>
    
  </div>
</>

<style lang="scss">
  @import "../../styles/shared.scss";

  #pricing-header {
    grid-column: 1 / -1;
    @include atom();
  }

  @media (min-width: 760px) {
    #pricing-header {
      max-width: 100%;
    }
  }

  @media (min-width: 1100px) {
    #pricing-header {
      grid-column: 2 / 10;
    }
  }

  #pricing {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 4rem;
  }

  @media (min-width: 760px) {
    #pricing {
      grid-column: 1 / 11;
      display: flex;
      flex-direction: row;
      align-content: stretch;
      justify-content: space-between;
      gap: 1rem;
      height: 30em;
    }
  }

  @media (min-width: 1100px) {
    #pricing {
      grid-column: 2 / 10;
    }
  }
  
  .pricing-plan {
    @include atom();
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  @media (min-width: 760px) {
    .pricing-plan {
      margin: 0;
    }
  }
  
  h3 {
    margin-bottom: 0;
  }
  
  hr {
    @include atom();
    height: 0.5px;
    border: none;
    background: var(--color-feature-2);
  }

  @media (min-width: 760px) {
    hr {
      width: 0.5px;
      height: 100%;
    }
  }
  
  .pricing-price {
    @include font-L();
    color: var(--color-feature-2);
  }
  
  .pricing-features {
    margin: 2rem 0;
  }
  
  .pricing-limitations {
    margin-top: auto;
  }

  li {
    position: relative;
    padding-left: 2rem;
  }

  li + li {
    margin-top: 0.5rem;
  }

  li:before {
    content: "";
    display: inline-block;
    margin-left: -2rem;
    width: 2rem;
    color: var(--color-feature-2);
  }

  .pricing-limitations li:before {
    content: "→";
  }
</style>
