---
---

<section id="company">
  <h2 id="blog-header">Blog posts</h2>

  <div id="blog-posts">
    <div class="limiter">
      <div class="post">
        <h3>
          <a href="#"
            >Multi-user database collaboration made easy with Fireproof</a
          >
        </h3>
        <p>16 October 2023</p>
        <p>
          PartyKit’s effortless connections are the perfect complement to 🔥
          Fireproof’s immutable storage
        </p>
      </div>

      <div class="post">
        <h3>
          <a href="#"
            >A single-serving waterhole in the Namib Desert using Remix</a>
        </h3>
        <p>13 October 2023</p>
        <p>
          I work with a window open to a YouTube live stream of a waterhole in
          Namibia, animals and all. Now it’s multiplayer and hosted on PartyKit
          using the Remix starter kit
        </p>
      </div>

      <div class="post">
        <h3><a href="#">PartyKit at ViteConf 2023</a></h3>
        <p>12 October 2023</p>
        <p>
          ViteConf attendees sent over 23,000 live reactions using PartyKit.
        </p>
      </div>

      <div class="post">
        <h3>
          <a href="#"
            >Exploring AI interaction design and multiplayer with tldraw</a>
        </h3>
        <p>4 October 2023</p>
        <p>
          How might we interact with AI? I'm exploring this with tldraw, a
          multiplayer whiteboard app.
        </p>
      </div>

      <div class="post">
        <h3><a href="#">Using Stencil to make a live poll Web Component</a></h3>
        <p>29 September 2023</p>
        <p>
          Building a live poll Web Component with Stencil and PartyKit, plus a
          meditation on the art of maintenance.
        </p>
      </div>

      <div class="post">
        <h3>
          <a href="#"
            >PartyKit raises a span-seed round of $2.5M from Sequoia, Remote
            First, and more</a>
        </h3>
        <p>26 September 2023</p>
        <p>
          We're building the developer-friendly, real-time platform for
          human-to-human and human-to-AI collaboration. Today we're announcing
          our span-seed round, as well as general availability of our platform!
        </p>
      </div>
    </div>

    <nav>
      <a class="button invert" href="#">More posts</a>
    </nav>
  </div>
</section>
