---
import Hero from "../content/Hero.astro";
import Terminal from "../content/Terminal.astro";
import MadeWith from "../cards/MadeWith.astro";
import Button from "../atoms/Button.astro";
import Compatibility from "../content/Compatibility.astro";
import Grid from "../Grid.astro";
import Limiter from "../Limiter.astro";
import SectionNav from "../SectionNav.astro";
---

<Grid>
  <Hero />

  <Terminal />

  <nav class="get-started">
    <Button url="#">Developer docs</Button>
    <Button url="#">Discord</Button>
  </nav>

  <Compatibility />

  <h2 id="examples-header">Made with PartyKit</h2>

  <div id="examples">
    <Limiter>
      <Grid variant="nested">
        <MadeWith
          title="SitGPT"
          url="https://sitegpt.ai"
          by="Username"
          github="#"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>

        <MadeWith
          title="Stately"
          url="https://stately.ai"
          by="Username"
          github="#"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>

        <MadeWith
          title="Epic Web"
          url="https://www.epicweb.dev"
          by="Username"
          github="#"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>

        <MadeWith
          title="ViteConf"
          url="https://viteconf.org/23/replay"
          by="Username"
          github="#"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>

        <MadeWith
          title="Live conference feedback app"
          url="https://twitter.com/thymikee/status/1709857955070333125?s=20"
          by="Michał Pierzchała"
          github="#"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>

        <MadeWith
          title="Another example"
          url="#"
          by="Another Legend"
          github="#"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>

        <MadeWith
          title="Another example"
          url="#"
          by="Another Legend"
          github="#"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>

        <MadeWith
          title="Another example"
          url="#"
          by="Another Legend"
          github="#"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>

        <MadeWith
          title="Another example"
          url="#"
          by="Another Legend"
          github="#"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>

        <MadeWith
          title="Another example"
          url="#"
          by="Another Legend"
          github="#"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>
      </Grid>
    </Limiter>

    <SectionNav>
      <Button variant="outline" url="#">More examples</Button>
    </SectionNav>
  </div>
</Grid>

<style>
  .get-started {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    gap: 1rem;
  }

  @media (min-width: 760px) {
    .get-started {
      grid-column: 2 / 7;
      margin-top: calc(var(--whitespace) * 0.5);
    }
  }

  #examples-header {
    grid-column: 1 / -1;
  }

  @media (min-width: 1100px) {
    #examples-header {
      grid-column: 2 / 10;
    }
  }

  #examples {
    grid-column: 1 / 3;
    padding-top: 0.5rem;
  }

  @media (min-width: 760px) {
    #examples {
      grid-column: 1 / 11;
    }
  }

  @media (min-width: 760px) {
    #examples .limiter {
      height: 50vw;
    }
  }
</style>
