---
---

<section id="introduction">
  <div id="hero">
    <h1>
      Turn everything into a <br /><strong>realtime multiplayer app</strong>
    </h1>
    <h1>Because everything's <br />better with friends</h1>
    <div id="browser">
      <div id="browser-toolbar">PartyKit_Homepage_Demo.html</div>
      <div id="partydemo"></div>
      <p>Because everything's better with friends</p>
    </div>
  </div>

  <div id="terminal">
    <div id="terminal-tabs">
      <span>New project</span>
      <span>Add to existing project</span>
      <a class="button github" href="#">Fork on GitHub</a>
    </div>

    <figure>
      <span>npm install partykit</span>
      <figcaption>Install with npm</figcaption>
    </figure>

    <figure is:raw>
      <span>export default class Server {<br> onMessage(message, websocket)
      {<br> websocket.send("pong");<br> }<br> onRequest(request) {<br> return
      new Response(`This is room ${party.id}`);<br> }<br> }</span>
      <figcaption>Write your code</figcaption>
    </figure>

    <figure>
      <span>npx partykit dev server.js</span>
      <figcaption>Develop on localhost</figcaption>
    </figure>

    <figure>
      <span>npx partykit deploy server.js --name first-party</span>
      <figcaption>Deploy to the edge</figcaption>
    </figure>

    <figure is:raw>
      <span>curl https://first-party.{yourname}.partykit.dev/party/my-room</span
      > <figcaption>Try it out</figcaption>
    </figure>
  </div>

  <nav id="get-started">
    <a class="button" href="#">Developer docs</a>
    <a class="button" href="#">Discord</a>
  </nav>

  <div id="compatibility">
    <div id="compatibility-frameworks">
      <h3>Add PartyKit to&nbsp;everything</h3>
      <p>
        It works well with with popular collaboration frameworks and libraries.
        Y.js, Automerge, Replicache, XState, tldraw, TinyBase, they all Just
        Work™.
      </p>
    </div>

    <div id="compatibility-platforms">
      <h3>It's platform agnostic</h3>
      <p>
        PartyKit integrates with your current setup. Plays nicely with Vercel,
        Netlify, AWS, Cloudflare, fly.io, or wherever you host your app. No big
        rewrite needed.
      </p>
    </div>

    <div id="compatibility-standards">
      <h3>And standards based</h3>
      <p>
        WebSockets, Fetch, Request-Response, Wasm. PartyKit uses web standards
        to guarantee interoperability with all your tools, now and in the
        future.
      </p>
    </div>
  </div>

  <h2 id="examples-header">Made with PartyKit</h2>

  <div id="examples">
    <div class="limiter">
      <div class="example">
        <header>
          <h4><a href="https://sitegpt.ai">SiteGPT</a></h4>
          <p>by Username</p>
        </header>
        <div>
          <p>Does Cool Thing X, integrates with Service Y</p>
          <a class="button github" href="#">Fork on GitHub</a>
        </div>
      </div>

      <div class="example">
        <header>
          <h4><a href="https://stately.ai">Stately</a></h4>
          <p>by Username</p>
        </header>
        <div>
          <p>Does Cool Thing X, integrates with Service Y</p>
          <a class="button github" href="#">Fork on GitHub</a>
        </div>
      </div>

      <div class="example">
        <header>
          <h4><a href="https://www.epicweb.dev">Epic Web</a></h4>
          <p>by Username</p>
        </header>
        <div>
          <p>Does Cool Thing X, integrates with Service Y</p>
          <a class="button github" href="#">Fork on GitHub</a>
        </div>
      </div>

      <div class="example">
        <header>
          <h4><a href="https://viteconf.org/23/replay">ViteConf</a></h4>
          <p>by Username</p>
        </header>
        <div>
          <p>Does Cool Thing X, integrates with Service Y</p>
          <a class="button github" href="#">Fork on GitHub</a>
        </div>
      </div>

      <div class="example">
        <header>
          <h4>
            <a
              href="https://twitter.com/thymikee/status/1709857955070333125?s=20"
              >Live conference feedback app</a
            >
          </h4>
          <p>by Michał Pierzchała</p>
        </header>
        <div>
          <p>Does Cool Thing X, integrates with Service Y</p>
          <a class="button github" href="#">Fork on GitHub</a>
        </div>
      </div>

      <div class="example">
        <header>
          <h4><a href="#">Another example</a></h4>
          <p>by Another Legend</p>
        </header>
        <div>
          <p>Does Cool Thing X, integrates with Service Y</p>
          <a class="button github" href="#">Fork on GitHub</a>
        </div>
      </div>

      <div class="example">
        <header>
          <h4><a href="#">Another example</a></h4>
          <p>by Another Legend</p>
        </header>
        <div>
          <p>Does Cool Thing X, integrates with Service Y</p>
          <a class="button github" href="#">Fork on GitHub</a>
        </div>
      </div>

      <div class="example">
        <header>
          <h4><a href="#">Another example</a></h4>
          <p>by Another Legend</p>
        </header>
        <div>
          <p>Does Cool Thing X, integrates with Service Y</p>
          <a class="button github" href="#">Fork on GitHub</a>
        </div>
      </div>

      <div class="example">
        <header>
          <h4><a href="#">Another example</a></h4>
          <p>by Another Legend</p>
        </header>
        <div>
          <p>Does Cool Thing X, integrates with Service Y</p>
          <a class="button github" href="#">Fork on GitHub</a>
        </div>
      </div>

      <div class="example">
        <header>
          <h4><a href="#">Another example</a></h4>
          <p>by Another Legend</p>
        </header>
        <div>
          <p>Does Cool Thing X, integrates with Service Y</p>
          <a class="button github" href="#">Fork on GitHub</a>
        </div>
      </div>
    </div>

    <nav>
      <a class="button invert" href="#">More examples</a>
    </nav>
  </div>
</section>
