---
import Hero from "../content/Hero.astro";
import Terminal from "../content/Terminal.astro";
import MadeWith from "../cards/MadeWith.astro";
import Button from "../atoms/Button.astro";
import Compatibility from "../content/Compatibility.astro";
import Grid from "../Grid.astro";
import Limiter from "../Limiter.astro";
import SectionNav from "../SectionNav.astro";
---

<Grid>
  <Hero />

  <Terminal />

  <nav class="get-started">
    <Button url="https://docs.partykit.io/quickstart">Developer docs</Button>
    <Button url="https://discord.gg/g5uqHQJc3z">Discord</Button>
  </nav>

  <Compatibility />

  <h2 id="examples-header">Made with PartyKit</h2>

  <div id="examples">
    <Limiter>
      <Grid variant="nested">
        <MadeWith
          title="SiteGPT"
          url="https://sitegpt.ai"
          by="Username"
          github="#"
        >
          <img src="/assets/made-with/sitegpt.png" alt="SiteGPT" />
          <p>Make AI your expert customer support agent</p>
        </MadeWith>

        <MadeWith
          title="Stately Sky"
          url="https://stately.ai"
          by="Stately"
          github="#"
        >
          <img src="/assets/made-with/stately.png" alt="Stately" />
          <p>Deploy State Machines to the Edge with Stately Sky</p>
        </MadeWith>

        <MadeWith
          title="Epic Web Dev"
          url="https://www.epicweb.dev"
          by="Kent C Dodds"
          github="#"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="200"
            height="200"
            fill="none"
            viewBox="0 0 70 70"
            ><path
              fill="url(#markGradient)"
              d="M36.277 33.738a64.504 64.504 0 0 1-4.257 2.15c-6.333 2.912-15.383 5.86-26.228 5.981l-1.249.014-.226-1.228a31.016 31.016 0 0 1-.531-5.638C3.786 17.804 17.787 3.802 35 3.802a31.05 31.05 0 0 1 13.295 2.975l4.146-2.113A34.774 34.774 0 0 0 35 0C15.712 0 0 15.712 0 35c0 7.7 2.504 14.83 6.74 20.617 7.252-1.235 11.802-4.14 11.802-4.14s-2.905 4.544-4.14 11.798A34.803 34.803 0 0 0 35 70c19.288 0 35-15.712 35-35a34.778 34.778 0 0 0-4.652-17.42l-2.11 4.138a31.037 31.037 0 0 1 2.976 13.299C66.214 52.23 52.213 66.23 35 66.23c-1.942 0-3.804-.196-5.635-.53l-1.231-.225.014-1.251c.12-10.854 3.069-19.903 5.98-26.234a64.386 64.386 0 0 1 2.149-4.253Z"
            ></path><path
              fill="#FFF"
              d="m53.235 27.155-8.03-2.344-2.345-8.047L69.5.5 53.235 27.155Z"
            ></path><defs
              ><linearGradient
                id="markGradient"
                x1="49.496"
                x2="20.585"
                y1="20.504"
                y2="49.431"
                gradientUnits="userSpaceOnUse"
                ><stop stop-color="#4F75FF"></stop><stop
                  offset="1"
                  stop-color="#30AFFF"></stop></linearGradient
              ></defs
            ></svg
          >
          <p>
            EVERYTHING YOU NEED TO KNOW TO Ship Modern Full-Stack Web
            Applications
          </p>
        </MadeWith>

        <MadeWith
          title="ViteConf"
          url="https://viteconf.org/23/replay"
          by="Username"
          github="#"
        >
          <img src="/assets/made-with/viteconf.svg" alt="Viteconf" />
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>

        <MadeWith
          title="Live conference feedback app"
          url="https://twitter.com/thymikee/status/1709857955070333125?s=20"
          by="Michał Pierzchała"
          github="#"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>

        <MadeWith title="Flow" url="#" by="Min Chun Fu" github="#">
          <img src="/assets/made-with/flowapp.svg" alt="Flowapp" />
          <p>Collaborate. Innovate. Celebrate.</p>
        </MadeWith>

        <MadeWith
          title="Another example"
          url="#"
          by="Another Legend"
          github="#"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>

        <MadeWith
          title="Another example"
          url="#"
          by="Another Legend"
          github="#"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>

        <MadeWith
          title="Another example"
          url="#"
          by="Another Legend"
          github="#"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>

        <MadeWith
          title="Another example"
          url="#"
          by="Another Legend"
          github="#"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>
      </Grid>
    </Limiter>

    <SectionNav>
      <Button variant="outline" url="#">More examples</Button>
    </SectionNav>
  </div>
</Grid>

<style lang="scss">
  @import "../../styles/shared.scss";

  .get-started {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    gap: 1rem;
    @include atom();
  }

  @media (min-width: 760px) {
    .get-started {
      grid-column: 2 / 10;
      margin-top: calc(var(--whitespace) * 0.5);
      justify-content: center;
      max-width: 100%;
    }
  }

  #examples-header {
    grid-column: 1 / -1;
    @include atom();
  }

  @media (min-width: 760px) {
    #examples-header {
      max-width: 100%;
    }
  }

  @media (min-width: 1100px) {
    #examples-header {
      grid-column: 2 / 10;
    }
  }

  #examples {
    grid-column: 1 / 3;
    padding-top: 0.5rem;
    margin: 0 -1rem;
  }

  @media (min-width: 760px) {
    #examples {
      grid-column: 1 / 11;
      margin: 0;
    }
  }

  @media (min-width: 760px) {
    #examples .limiter {
      height: 50vw;
    }
  }
</style>
