---
import Hero from "../Hero.astro";
import Terminal from "../Terminal.astro";
import MadeWith from "../cards/MadeWith.astro";
---

<section id="introduction">
  <Hero />

  <Terminal />

  <nav id="get-started">
    <a class="button" href="#">Developer docs</a>
    <a class="button" href="#">Discord</a>
  </nav>

  <div id="compatibility">
    <div id="compatibility-frameworks">
      <h3>Add PartyKit to&nbsp;everything</h3>
      <p>
        It works well with with popular collaboration frameworks and libraries.
        Y.js, Automerge, Replicache, XState, tldraw, TinyBase, they all Just
        Work™.
      </p>
    </div>

    <div id="compatibility-platforms">
      <h3>It's platform agnostic</h3>
      <p>
        PartyKit integrates with your current setup. Plays nicely with Vercel,
        Netlify, AWS, Cloudflare, fly.io, or wherever you host your app. No big
        rewrite needed.
      </p>
    </div>

    <div id="compatibility-standards">
      <h3>And standards based</h3>
      <p>
        WebSockets, Fetch, Request-Response, Wasm. PartyKit uses web standards
        to guarantee interoperability with all your tools, now and in the
        future.
      </p>
    </div>
  </div>

  <h2 id="examples-header">Made with PartyKit</h2>

  <div id="examples">
    <div class="limiter">
      <MadeWith
        title="SitGPT"
        url="https://sitegpt.ai"
        by="Username"
        github="#"
      >
        <p>Does Cool Thing X, integrates with Service Y</p>
      </MadeWith>

      <MadeWith
        title="Stately"
        url="https://stately.ai"
        by="Username"
        github="#"
      >
        <p>Does Cool Thing X, integrates with Service Y</p>
      </MadeWith>

      <MadeWith
        title="Epic Web"
        url="https://www.epicweb.dev"
        by="Username"
        github="#"
      >
        <p>Does Cool Thing X, integrates with Service Y</p>
      </MadeWith>

      <MadeWith
        title="ViteConf"
        url="https://viteconf.org/23/replay"
        by="Username"
        github="#"
      >
        <p>Does Cool Thing X, integrates with Service Y</p>
      </MadeWith>

      <MadeWith
        title="Live conference feedback app"
        url="https://twitter.com/thymikee/status/1709857955070333125?s=20"
        by="Michał Pierzchała"
        github="#"
      >
        <p>Does Cool Thing X, integrates with Service Y</p>
      </MadeWith>

      <MadeWith title="Another example" url="#" by="Another Legend" github="#">
        <p>Does Cool Thing X, integrates with Service Y</p>
      </MadeWith>

      <MadeWith title="Another example" url="#" by="Another Legend" github="#">
        <p>Does Cool Thing X, integrates with Service Y</p>
      </MadeWith>

      <MadeWith title="Another example" url="#" by="Another Legend" github="#">
        <p>Does Cool Thing X, integrates with Service Y</p>
      </MadeWith>

      <MadeWith title="Another example" url="#" by="Another Legend" github="#">
        <p>Does Cool Thing X, integrates with Service Y</p>
      </MadeWith>

      <MadeWith title="Another example" url="#" by="Another Legend" github="#">
        <p>Does Cool Thing X, integrates with Service Y</p>
      </MadeWith>
    </div>

    <nav>
      <a class="button invert" href="#">More examples</a>
    </nav>
  </div>
</section>
