---
import Hero from "../content/Hero.astro";
import Terminal from "../content/Terminal.astro";
import MadeWith from "../cards/MadeWith.astro";
import Button from "../atoms/Button.astro";
import Compatibility from "../content/Compatibility.astro";
import Grid from "../Grid.astro";
import Limiter from "../Limiter.astro";
import SectionNav from "../SectionNav.astro";
---

<Grid>
  <Hero />

  <Terminal />

  <nav class="get-started">
    <Button url="https://docs.partykit.io/quickstart">Developer docs</Button>
    <Button url="https://discord.gg/g5uqHQJc3z">Join our Discord</Button>
  </nav>

  <Compatibility />

  <h2 id="examples-header">Made with PartyKit</h2>

  <div id="examples">
      <Grid variant="nested">
        <MadeWith
          title="Stately Sky"
          url="https://stately.ai"
          by="Stately"
          github="https://stately.ai/blog/2023-11-13-introducing-stately-sky"
          img="/assets/made-with/product_stately.png"
          imgShade="dark"
        >
          <p>Deploy State Machines to the Edge with Stately Sky</p>
        </MadeWith>

        <MadeWith
          title="SiteGPT"
          url="https://sitegpt.ai"
          by="Username"
          github="https://sitegpt.ai/demo"
          img="/assets/made-with/product_sitegpt.png"
          imgShade="light"
        >
          <p>Make AI your expert customer support agent</p>
        </MadeWith>

        <MadeWith
          title="Epic Web Dev"
          url="https://www.epicweb.dev"
          by="Kent C Dodds"
          github="#"
          img="/assets/made-with/product_epicweb.png"
          imgShade="dark"
        >
          <p>
            Everything you need to know to ship modern full-stack web applications
          </p>
        </MadeWith>

        <MadeWith 
          title="Flow" 
          url="#" 
          by="Min Chun Fu" 
          github="#"
          img="/assets/made-with/product_flow.png"
          imgShade="light"
        >
          <p>Collaborate. Innovate. Celebrate.</p>
        </MadeWith>

        <MadeWith
          title="ViteConf"
          url="https://viteconf.org/23/replay"
          by="Username"
          github="#"
          img="/assets/made-with/product_viteconf.png"
          imgShade="dark"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>

        <MadeWith
          title="Live conference feedback app"
          url="https://twitter.com/thymikee/status/1709857955070333125?s=20"
          by="Michał Pierzchała"
          github="#"
          img="/assets/made-with/product_pierzchała.png"
          imgShade="dark"
        >
          <p>Does Cool Thing X, integrates with Service Y</p>
        </MadeWith>
      </Grid>
  </div>
</Grid>

<style lang="scss">
  @import "../../styles/shared.scss";

  .get-started {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    gap: 1rem;
    @include atom();
  }

  @media (min-width: 760px) {
    .get-started {
      grid-column: 2 / 10;
      margin-top: calc(var(--whitespace) * 0.5);
      justify-content: center;
      max-width: 100%;
    }
  }

  #examples-header {
    grid-column: 1 / -1;
    @include atom();
  }

  @media (min-width: 760px) {
    #examples-header {
      max-width: 100%;
    }
  }

  @media (min-width: 1100px) {
    #examples-header {
      grid-column: 2 / 10;
    }
  }

  #examples {
    grid-column: 1 / 3;
    padding-top: 0.5rem;
    margin: 0 -1rem;
  }

  @media (min-width: 760px) {
    #examples {
      grid-column: 1 / 11;
      margin: 0;
    }
  }

  @media (min-width: 760px) {
    #examples .limiter {
      height: 50vw;
    }
  }
</style>
