---
---

<section id="product">
  <h2 id="product-header">Why PartyKit?</h2>

  <div id="product-features">
    <div id="product-flexibility">
      <h3>More flexible</h3>
      <p>
        You bring the code, we do the hosting. Use any package from npm, or
        write your own servers from scratch.
      </p>
    </div>

    <div id="product-functionality">
      <h3>More functional</h3>
      <p>
        Analytics, staging environments, secrets management, logging. All the
        tools your team needs to build production apps.
      </p>
    </div>

    <div id="product-speed">
      <h3>More fast</h3>
      <p>
        A worldwide edge network with low latency, anywhere on Earth. We enable
        your ambition, from your first user to millions.
      </p>
    </div>
  </div>

  <h2 id="pricing-header">Pricing</h2>

  <div id="pricing">
    <h3 class="pricing-plan">Individual</h3>

    <p class="pricing-price">&dollar;0</p>

    <ul class="pricing-features">
      <li>'npx partykit deploy' to partykit.dev</li>
      <li>Dashboard and insights</li>
      <li>Live logs</li>
      <li>Community support</li>
    </ul>

    <ul class="pricing-limitations">
      <li>Max 10 deployed projects</li>
      <li>Generous bundled usage</li>
    </ul>

    <a class="button" href="#">Get started</a>

    <hr />

    <h3 class="pricing-plan">Pro</h3>

    <p class="pricing-price">&dollar;10/developer/mo</p>

    <ul class="pricing-features">
      <li>Team subdomain</li>
      <li>GitHub app</li>
      <li>Staging and environments</li>
      <li>Logs and error reporting</li>
      <li>Usage analytics</li>
      <li>Email support</li>
    </ul>

    <ul class="pricing-limitations">
      <li>No project cap per team</li>
      <li>Higher bundled usage</li>
    </ul>

    <a class="button" href="#">Sign up</a>

    <hr />

    <h3 class="pricing-plan">Enterprise</h3>

    <p class="pricing-price">Custom</p>

    <ul class="pricing-features">
      <li>Custom domain</li>
      <li>Deploy to your own Cloudflare account with no usage cap</li>
    </ul>

    <ul class="pricing-limitations">
      <li>Minimum 10 developers</li>
    </ul>

    <a class="button" href="#">Contact us</a>
  </div>

  <h2 id="quotes-header">What people say about PartyKit</h2>

  <div id="quotes">
    <div class="limiter">
      <div class="quote quote-M">
        <blockquote>
          I did a bunch of work recently with Y.js and PartyKit and can confirm
          it made some of the most difficult parts a breeze. You should 100% try
          it out at least if it’s relevant to what you’re building.
        </blockquote>
        <cite>
          <a href="#">Brandon Dail</a>
          <span>Staff Engineer, Discord</span>
        </cite>
      </div>

      <div class="quote quote-S">
        <blockquote>It's the future of workflows.</blockquote>
        <cite>
          <a href="#">David Khourshid</a>
          <span>Founder, Stately</span>
        </cite>
      </div>

      <div class="quote quote-M">
        <blockquote>
          A breeze to set up 🙂 Just takes less than 40 lines of code to do!
          Looking forward to the future of PartyKit!
        </blockquote>
        <cite>
          <a href="#">Yousef El-Dardiry</a>
          <span>Maintainer, BlockNote.js</span>
        </cite>
      </div>

      <div class="quote quote-S">
        <blockquote>Oh&nbsp;god this is&nbsp;so easy</blockquote>
        <cite>
          <a href="#">Adam Janiš</a>
          <span>Staff Engineer, Kiwi.com</span>
        </cite>
      </div>

      <div class="quote quote-M">
        <blockquote>
          We've been having a blast using PartyKit at StatelyAI for a little
          while. It makes implementing real-time a breeze. Try it on your next
          thing 🎉
        </blockquote>
        <cite>
          <a href="#">Anders Bech Mellson</a>
          <span>Developer, Stately</span>
        </cite>
      </div>

      <div class="quote quote-L">
        <blockquote>
          I have been trying to solve a real-time sync problem for SiteGPT for
          months now. I tried everything and nothing seemed to work properly.
          Sunil solved my entire problem using PartyKit in around 10 lines of
          code 🤯 10 lines... and I am not even exaggerating 😅 PartyKit is
          awesome!!
        </blockquote>
        <cite>
          <a href="#">Bhanu Teja P</a>
          <span>Founder, SiteGPT</span>
        </cite>
      </div>

      <div class="quote quote-S">
        <blockquote>A&plus;</blockquote>
        <cite>
          <a href="#">Adam Janiš</a>
          <span>Staff Engineer, Kiwi.com</span>
        </cite>
      </div>
    </div>

    <nav>
      <a class="button invert" href="#">More quotes</a>
    </nav>
  </div>
</section>
