---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Card from "@components/Card";
import LinkButton from "@components/LinkButton.astro";
import slugify from "@utils/slugify";
import type { CollectionEntry } from "astro:content";

export interface Props {
  pageNum: number;
  totalPages: number;
  posts: CollectionEntry<"blog">[];
}

const { pageNum, totalPages, posts } = Astro.props;

const prev = pageNum > 1 ? "" : "disabled";
const next = pageNum < totalPages ? "" : "disabled";
---

<Layout title={`Posts | ${SITE.title}`}>
  <Main pageTitle="Posts" pageDesc="Entire post history">
    <ul>
      {
        posts.map(({ data }) => (
          <Card href={`/posts/${slugify(data)}`} frontmatter={data} />
        ))
      }
    </ul>

    {
      totalPages > 1 && (
        <nav class="pagination-wrapper" aria-label="Pagination">
          <LinkButton
            disabled={prev === "disabled"}
            href={`/posts${pageNum - 1 !== 1 ? "/" + (pageNum - 1) : ""}`}
            className={``}
            ariaLabel="Previous"
          >
            Prev
          </LinkButton>
          <LinkButton
            disabled={next === "disabled"}
            href={`/posts/${pageNum + 1}`}
            className={``}
            ariaLabel="Next"
          >
            Next
          </LinkButton>
        </nav>
      )
    }
  </Main>
</Layout>

<style>
  .pagination-wrapper {
    display: flex;
    width: calc(100% - 6rem);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4rem 3rem 0;
    gap: 1rem;
  }

  @media (min-width: 760px) {
    .pagination-wrapper {
      width: 100%;
      margin: 4rem 0 0;
    }
  }

  .pagination-wrapper a:first-child:before {
    position: relative;
    content: "←";
    left: 0;
    margin-right: var(--character-width);
    transition: 0.3s ease 0.3s;
  }

  .pagination-wrapper a:first-child:hover:before,
  .pagination-wrapper a:first-child:focus:before {
    left: -0.25em;
  }

  .pagination-wrapper a:first-child:after {
    content: none;
  }

  .pagination-wrapper a[aria-disabled] {
    opacity: 0.25;
    cursor: default;
  }

  .pagination-wrapper a[aria-disabled]:hover:before,
  .pagination-wrapper a[aria-disabled]:hover:after,
  .pagination-wrapper a[aria-disabled]:focus:before,
  .pagination-wrapper a[aria-disabled]:focus:after {
    left: 0;
  }
</style>
