---
import "../../styles/variables.css";
import Button from "../atoms/Button.astro";

interface Props {
  title: string;
  by: string;
  url: string;
  github: string;
}

const { title, by, url, github } = Astro.props;
---

<div class="example">
  <header>
    <h4><a href={url}>{title}</a></h4>
    <p>by {by}</p>
  </header>
  <div class="metadata">
    <slot />
    <Button variant="github" url={github}>Fork on GitHub</Button>
  </div>
  <div class="image">
    <img src="/assets/waterhole.jpg" />
  </div>
</div>

<style>
  .example {
    display: grid;
    grid-template-columns: 100%;
    padding: var(--box-padding);
    background: var(--color-feature-1);
    border-radius: var(--box-radius);
    overflow: hidden;
  }

  @media (min-width: 760px) {
    .example {
      grid-row: span 3;
    }
  }

  @media (min-width: 1100px) {
    .example {
      grid-column: span 2;
    }
  }

  .example:nth-child(2) ~ .example {
    display: none;
  }

  @media (min-width: 760px) {
    .example:nth-child(2) ~ .example {
      display: grid;
    }
    .example:nth-child(1) {
      grid-row: 1 / 4;
    }
    .example:nth-child(2) {
      grid-row: 2 / 5;
    }
    .example:nth-child(3) {
      grid-row: 1 / 4;
    }
  }

  @media (min-width: 1100px) {
    .example:nth-child(2) ~ .example {
      display: grid;
    }
    .example:nth-child(1) {
      grid-row: 1 / 4;
    }
    .example:nth-child(2) {
      grid-row: 2 / 5;
    }
    .example:nth-child(3) {
      grid-row: 1 / 4;
    }
    .example:nth-child(4) {
      grid-row: 2 / 5;
    }
    .example:nth-child(5) {
      grid-row: 1 / 4;
    }
  }

  .example:after {
    content: " ";
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding-top: 160%;
  }

  header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 10;
  }

  header p {
    display: inline-block;
  }

  .metadata {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0 0.5rem;
    font-size: 80%;
  }
  
  .image {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: -0.725rem -1rem -0.775rem;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 2rem, rgba(0,0,0,0.2) 4rem, rgba(0,0,0,1) 10rem);
    overflow: hidden;
    display: none;
  }
  
  .image img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
</style>
