---
import "../../styles/variables.css";

interface Props {
  name: string;
  url: string;
  role: string;
  variant: "S" | "M" | "L";
}

const { name, url, role, variant } = Astro.props;
---

<div class={`quote quote-${variant}`}>
  <blockquote>
    <slot />
  </blockquote>
  <cite>
    <div class="avatar"></div>
    <div class="author">
      <a href={url}>{name}</a>
      <span>{role}</span>
    </div>
  </cite>
</div>

<style lang="scss">
  @import "../../styles/shared.scss";

  .quote {
    grid-column: span 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  @media (min-width: 760px) {
    .quote {
      grid-column: span 1;
    }
  }
  
  @media (min-width: 1100px) {
    .quote {
      min-height: 100%;
      padding-bottom: 0;
      grid-column: span 2;
    }
    .quote-M {
      grid-column: span 3;
    }
    .quote-L {
      grid-column: span 5;
    }
  }

  .quote blockquote {
    position: relative;
    padding: var(--box-padding);
    padding-bottom: 2rem;
    background: var(--color-feature-1);
    border-radius: var(--box-radius);
    flex-grow: 2;
  }

  @media (min-width: 760px) {
    blockquote {
      min-height: var(--whitespace);
    }
  }

  blockquote:before {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    content: " ";
    top: 100%;
    right: calc(100% - 1.75rem);
    border-style: solid;
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-color: transparent var(--color-feature-1) transparent transparent;
    transform: rotate(45deg);
    transform-origin: top right;
  }

  cite {
    @include font-S();
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1rem 1rem 0 0;
    gap: 0 1rem;
  }

  .avatar {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-image: url(/assets/user.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 0 var(--character-width);
  }
</style>
