name: Pull Request

on: pull_request

jobs:
  check:
    timeout-minutes: 5
    strategy:
      matrix:
        os: [
            ubuntu-latest,
            # windows-latest,
            # macos-latest,
          ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - run: bun install

      - run: npm run build
      - run: npm run check
