:root {
  --color-page: white;
  --color-text: #252525;
  --color-feature-1: #f3f3f3;
  --color-feature-2: #ff0f0f;
  --color-feature-3: #bdc1c0;
  --padding: 0 2rem;
  --box-padding: 0.725rem 1rem 0.775rem;
  --character-width: 0.333em;
  --whitespace: 25vh;
  --atom-width: 22rem;
  --box-radius: 12px;
  --demo-offset-X: 0px;
  --demo-offset-Y: 0px;
}
